.desktop-28,
.desktop-28 * {
  box-sizing: border-box;
}
.desktop-28 {
  background: #000000;
  height: 26619px;
  position: relative;
  overflow: hidden;
}
.rectangle-17 {
  background: conic-gradient(
    from 137.73deg at 50% 50%,
    rgba(0, 0, 0, 1) 6.499350816011429%,
    rgba(224, 35, 136, 1) 46.89826965332031%,
    rgba(39, 99, 183, 1) 53.4933865070343%,
    rgba(20, 52, 97, 0.53) 74.00311231613159%,
    rgba(0, 0, 0, 1) 96.79219126701355%
  );
  width: 1000px;
  height: 1100px;
  position: absolute;
  left: 1451.86px;
  top: 0px;
  transform-origin: 0 0;
  transform: rotate(45deg) scale(1, 1);
  filter: blur(96px);
}
.frame-7 {
  background: rgba(255, 255, 255, 0.03);
  border-radius: 24px;
  border-style: solid;
  border-color: rgba(233, 233, 233, 0.62);
  border-width: 1px;
  padding: 16px 88px 16px 88px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: calc(50% - 815px);
  top: 89px;
  backdrop-filter: blur(30px);
}
.frame-6 {
  display: flex;
  flex-direction: row;
  gap: 777px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1454px;
  position: relative;
}
.mars {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  position: relative;
}
.frame-5 {
  display: flex;
  flex-direction: row;
  gap: 48px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.about-us {
  color: #ffffff;
  text-align: left;
  font-family: var(--ui-label-regular-font-family, "Inter-Regular", sans-serif);
  font-size: var(--ui-label-regular-font-size, 18px);
  line-height: var(--ui-label-regular-line-height, 150%);
  font-weight: var(--ui-label-regular-font-weight, 400);
  position: relative;
}
.previous-projects {
  color: #ffffff;
  text-align: left;
  font-family: var(--ui-label-regular-font-family, "Inter-Regular", sans-serif);
  font-size: var(--ui-label-regular-font-size, 18px);
  line-height: var(--ui-label-regular-line-height, 150%);
  font-weight: var(--ui-label-regular-font-weight, 400);
  position: relative;
}
.team-members {
  color: #ffffff;
  text-align: left;
  font-family: var(--ui-label-regular-font-family, "Inter-Regular", sans-serif);
  font-size: var(--ui-label-regular-font-size, 18px);
  line-height: var(--ui-label-regular-line-height, 150%);
  font-weight: var(--ui-label-regular-font-weight, 400);
  position: relative;
}
.final-project {
  color: #ffffff;
  text-align: left;
  font-family: var(--ui-label-regular-font-family, "Inter-Regular", sans-serif);
  font-size: var(--ui-label-regular-font-size, 18px);
  line-height: var(--ui-label-regular-line-height, 150%);
  font-weight: var(--ui-label-regular-font-weight, 400);
  position: relative;
}
.frame-175 {
  display: flex;
  flex-direction: column;
  gap: 45px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 143px;
  top: 218px;
}
.frame-174 {
  display: flex;
  flex-direction: column;
  gap: 63px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._3-d-printing {
  color: #ffffff;
  text-align: left;
  font-family: var(--h2-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h2-heading-font-size, 92px);
  line-height: var(--h2-heading-line-height, 110%);
  font-weight: var(--h2-heading-font-weight, 800);
  position: relative;
}
.frame-164 {
  display: flex;
  flex-direction: row;
  gap: 159px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-106 {
  display: flex;
  flex-direction: column;
  gap: 37px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-104 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-39 {
  flex-shrink: 0;
  width: 752px;
  height: 387px;
  position: relative;
}
.material {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  position: absolute;
  left: 0px;
  top: 0px;
}
.poly-ether-ether-ketone-has-excellent-mechanical-and-heat-resistance-properties-and-is-widely-used-in-aerospace-automotive-medical-equipment-and-other-fields-3-d-printing-technology-can-make-this-material-into-parts-with-complex-shapes-such-as-turbine-blades-engine-components-and-more-in-addition-new-aerospace-materials-such-as-carbon-fiber-composites-are-difficult-to-process-with-conventional-technologies-but-3-d-printing-can-greatly-shorten-the-production-process-by-enabling-the-overall-molding-of-complex-parts {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  line-height: 150%;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 84px;
  width: 752px;
  height: 303px;
}
.frame-105 {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-40 {
  flex-shrink: 0;
  width: 752px;
  height: 387px;
  position: relative;
}
.application {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  position: absolute;
  left: 0px;
  top: 0px;
}
.compared-with-the-traditional-titanium-alloy-skull-repair-material-peek-polyetheretherketone-material-is-closer-to-the-human-skull-after-the-traditional-titanium-mesh-skull-repair-it-is-possible-to-touch-the-connected-titanium-nail-on-the-surface-of-the-skin-and-it-may-be-deformed-after-being-subjected-to-external-forces-such-as-collision-and-blow-while-peek-skull-repair-material-has-a-strong-protective-effect-and-after-repair-it-can-better-protect-the-brain-tissue-with-the-missing-bone-window-it-is-a-better-choice-for-younger-patients-and-those-who-are-more-socially-active {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  line-height: 150%;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 84px;
  width: 752px;
  height: 303px;
}
.peek-brainmed-com {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration: underline;
  position: relative;
}
.frame-41 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.technology {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  position: relative;
}
.associate-professor-zhang-hao-academician-li-jinghong-of-the-department-of-chemistry-of-tsinghua-university-associate-professor-lin-linhan-and-professor-sun-hongbo-of-the-department-of-precision-instruments-jointly-developed-a-new-method-of-3-d-printing-of-nanomaterials-referred-to-as-3-d-pin-which-realizes-the-nanoscale-3-d-printing-of-a-variety-of-inorganic-nanomaterials-by-introducing-photosensitive-nitrogen-bin-small-molecules-with-a-high-proportion-of-inorganic-components-in-the-structure-and-excellent-mechanical-properties-and-tunable-optical-properties {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
  width: 752px;
  height: 303px;
}
.image-2 {
  flex-shrink: 0;
  width: 554px;
  height: 544px;
  position: relative;
  object-fit: cover;
}
.frame-165 {
  display: flex;
  flex-direction: column;
  gap: 61px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.force-curve {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  position: relative;
}
.image {
  flex-shrink: 0;
  width: 1600px;
  height: 1359.06px;
  position: relative;
  object-fit: cover;
}
.temperature-resistance-curve {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  position: relative;
}
.image-22 {
  flex-shrink: 0;
  width: 1600px;
  height: 1066.67px;
  position: relative;
  object-fit: cover;
}
.frame-173 {
  display: flex;
  flex-direction: column;
  gap: 63px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-11 {
  flex-shrink: 0;
  width: 1619px;
  height: 241px;
  position: relative;
}
.use-slice-software-to-setting-parameter {
  color: #ffffff;
  text-align: left;
  font-family: var(--h2-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h2-heading-font-size, 92px);
  line-height: var(--h2-heading-line-height, 110%);
  font-weight: var(--h2-heading-font-weight, 800);
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1619px;
  height: 261px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._1-use-cura {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "-", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 400);
  position: relative;
}
._1-use-cura-span {
  color: #ffffff;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
}
._1-use-cura-span2 {
  color: #ffffff;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  text-decoration: underline;
}
.image-3 {
  flex-shrink: 0;
  width: 1600px;
  height: 777.38px;
  position: relative;
  object-fit: cover;
}
._2-setting-3-d-printer-parameters {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  position: relative;
}
._4 {
  flex-shrink: 0;
  width: 1600px;
  height: 857.5px;
  position: relative;
  object-fit: cover;
}
.frame-166 {
  display: flex;
  flex-direction: row;
  gap: 52px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._5 {
  flex-shrink: 0;
  width: 504.95px;
  height: 400px;
  position: relative;
  object-fit: cover;
}
._6 {
  flex-shrink: 0;
  width: 499.43px;
  height: 400px;
  position: relative;
  object-fit: cover;
}
._7 {
  flex-shrink: 0;
  width: 505.06px;
  height: 400px;
  position: relative;
  object-fit: cover;
}
._8 {
  flex-shrink: 0;
  width: 1600px;
  height: 857.5px;
  position: relative;
  object-fit: cover;
}
._3-click-on-the-red-box-area-to-import-3-d-model-files-such-as-obj-files {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  position: relative;
}
.image-4 {
  flex-shrink: 0;
  width: 1600px;
  height: 857.5px;
  position: relative;
  object-fit: cover;
}
._4-click-on-the-red-box-area-to-rotate-the-3-d-print-so-that-it-lies-flat-on-a-horizontal-plane {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  position: relative;
}
.image-5 {
  flex-shrink: 0;
  width: 1600px;
  height: 857.5px;
  position: relative;
  overflow: visible;
  object-fit: cover;
}
._5-click-on-the-red-boxed-area-to-enlarge-the-3-d-print-after-rotating-it {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  position: relative;
}
.image-6 {
  flex-shrink: 0;
  width: 1600px;
  height: 857.5px;
  position: relative;
  object-fit: cover;
}
._6-click-on-the-red-box-and-adjust-the-print-parameters-in-the-green-box {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  position: relative;
}
.image-7 {
  flex-shrink: 0;
  width: 1600px;
  height: 857.5px;
  position: relative;
  object-fit: cover;
}
._7-since-there-are-some-problems-with-the-wall-thickness-during-printing-but-we-can-t-adjust-the-wall-thickness-parameter-we-can-change-the-wall-thickness-status-by-adjusting-the-wall-line-count-parameter {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  position: relative;
}
.image-102 {
  flex-shrink: 0;
  width: 1588px;
  height: 437px;
  position: relative;
  object-fit: cover;
}
._8-preview {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  position: relative;
}
.frame-167 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._12 {
  flex-shrink: 0;
  width: 1600px;
  height: 857.5px;
  position: relative;
  object-fit: cover;
}
._11 {
  flex-shrink: 0;
  width: 689px;
  height: 704px;
  position: absolute;
  left: 878px;
  top: 77px;
  object-fit: cover;
}
._9-click-on-the-red-boxed-area-to-slice {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  position: relative;
}
.image-8 {
  flex-shrink: 0;
  width: 1600px;
  height: 857.5px;
  position: relative;
  object-fit: cover;
}
._10-just-click-on-the-red-boxed-area-to-save-the-gcode-format {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  position: relative;
}
.image-9 {
  flex-shrink: 0;
  width: 1600px;
  height: 857.5px;
  position: relative;
  object-fit: cover;
}
.frame-172 {
  display: flex;
  flex-direction: column;
  gap: 65px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._12-insert-the-usb-card-into-the-printer-card-slot {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  position: relative;
}
._19 {
  flex-shrink: 0;
  width: 600px;
  height: 800px;
  position: relative;
  object-fit: cover;
}
._11-check-and-adjust-printer-settings {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  position: relative;
}
._20 {
  flex-shrink: 0;
  width: 600px;
  height: 800px;
  position: relative;
  object-fit: cover;
}
._13-select-the-file-you-just-saved-and-start-printing {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  position: relative;
}
._21 {
  flex-shrink: 0;
  width: 828px;
  height: 420px;
  position: relative;
  object-fit: cover;
}
._22 {
  flex-shrink: 0;
  width: 600px;
  height: 800px;
  position: relative;
  object-fit: cover;
}
.use-3-d-printer-to-manufacture-it {
  color: #ffffff;
  text-align: left;
  font-family: var(--h2-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h2-heading-font-size, 92px);
  line-height: var(--h2-heading-line-height, 110%);
  font-weight: var(--h2-heading-font-weight, 800);
  position: relative;
}
.image-10 {
  flex-shrink: 0;
  width: 1600px;
  height: 1200px;
  position: relative;
  object-fit: cover;
}
.frame-171 {
  display: flex;
  flex-direction: column;
  gap: 77px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.postprocess-the-surface {
  color: #ffffff;
  text-align: left;
  font-family: var(--h2-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h2-heading-font-size, 92px);
  line-height: var(--h2-heading-line-height, 110%);
  font-weight: var(--h2-heading-font-weight, 800);
  position: relative;
}
.frame-170 {
  display: flex;
  flex-direction: column;
  gap: 78px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-169 {
  display: flex;
  flex-direction: column;
  gap: 55px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.remove-the-excess-with-a-pencil-sharpener-and-sandpaper {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  position: relative;
}
._24 {
  flex-shrink: 0;
  width: 600px;
  height: 800px;
  position: relative;
  object-fit: cover;
}
.frame-168 {
  display: flex;
  flex-direction: column;
  gap: 84px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.read-gcode {
  color: #ffffff;
  text-align: left;
  font-family: var(--h2-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h2-heading-font-size, 92px);
  line-height: var(--h2-heading-line-height, 110%);
  font-weight: var(--h2-heading-font-weight, 800);
  position: relative;
}
.image-12 {
  flex-shrink: 0;
  width: 1600px;
  height: 640.45px;
  position: relative;
  object-fit: cover;
}
.g-1-x-212-333-y-158-505-e-0-02714-it-means-g-1-this-is-a-linear-interpolation-instruction-which-means-that-the-control-machine-will-move-along-a-straight-line-to-the-target-position-at-a-set-speed-and-will-perform-machining-such-as-extruding-material-3-d-printing-or-making-cuts-as-it-moves-x-212-333-the-x-coordinate-of-the-target-position-is-212-333-millimeters-or-other-units-depending-on-your-machine-settings-y-158-505-the-y-coordinate-of-the-target-position-is-158-505-mm-or-other-units-e-0-02714-e-usually-stands-for-extruder-and-indicates-that-the-extruder-needs-to-extrude-0-02714-mm-of-material-or-other-units-during-the-move-to-the-target-position-to-summarize-this-g-code-instruction-instructs-your-machine-to-move-in-a-straight-line-to-the-coordinates-x-212-333-y-158-505-and-to-extrude-0-02714-mm-of-material-in-the-process {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  position: relative;
}
.z-refers-to-the-real-time-height-at-which-the-workpiece-is-printed-at-the-same-height-the-nozzle-moves-in-the-x-and-y-directions-to-create-a-layer-the-preview-image-and-g-code-simulation-below-show-a-layer-with-a-height-of-0-2-to-0-4 {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  position: relative;
  width: 1603px;
  height: 53px;
}
.preview-of-the-first-layer-of-effects {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  position: relative;
  width: 1603px;
  height: 33px;
}
._26 {
  flex-shrink: 0;
  width: 1600px;
  height: 956.25px;
  position: relative;
  object-fit: cover;
}
.g-code-simulation-for-first-layer {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  position: relative;
  width: 829px;
  height: 33px;
}
._27 {
  flex-shrink: 0;
  width: 1600px;
  height: 956.25px;
  position: relative;
  object-fit: cover;
}
