.desktop-29,
.desktop-29 * {
  box-sizing: border-box;
}
.desktop-29 {
  background: var(--0d0c11, #0d0c11);
  height: 22254px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.rectangle-17 {
  background: conic-gradient(
    from 137.73deg at 50% 50%,
    rgba(0, 0, 0, 1) 6.499350816011429%,
    rgba(224, 35, 136, 1) 46.89826965332031%,
    rgba(39, 99, 183, 1) 53.4933865070343%,
    rgba(20, 52, 97, 0.53) 74.00311231613159%,
    rgba(0, 0, 0, 1) 96.79219126701355%
  );
  width: 1000px;
  height: 1100px;
  position: absolute;
  left: 1436.36px;
  top: 0px;
  transform-origin: 0 0;
  transform: rotate(45deg) scale(1, 1);
  filter: blur(96px);
}
.frame-7 {
  background: rgba(255, 255, 255, 0.03);
  border-radius: 24px;
  border-style: solid;
  border-color: rgba(233, 233, 233, 0.62);
  border-width: 1px;
  padding: 16px 88px 16px 88px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: calc(50% - 815px);
  top: 89px;
  backdrop-filter: blur(30px);
}
.frame-6 {
  display: flex;
  flex-direction: row;
  gap: 777px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1454px;
  position: relative;
}
.mars {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  position: relative;
}
.frame-5 {
  display: flex;
  flex-direction: row;
  gap: 48px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.about-us {
  color: #ffffff;
  text-align: left;
  font-family: var(--ui-label-regular-font-family, "Inter-Regular", sans-serif);
  font-size: var(--ui-label-regular-font-size, 18px);
  line-height: var(--ui-label-regular-line-height, 150%);
  font-weight: var(--ui-label-regular-font-weight, 400);
  position: relative;
}
.previous-projects {
  color: #ffffff;
  text-align: left;
  font-family: var(--ui-label-regular-font-family, "Inter-Regular", sans-serif);
  font-size: var(--ui-label-regular-font-size, 18px);
  line-height: var(--ui-label-regular-line-height, 150%);
  font-weight: var(--ui-label-regular-font-weight, 400);
  position: relative;
}
.team-members {
  color: #ffffff;
  text-align: left;
  font-family: var(--ui-label-regular-font-family, "Inter-Regular", sans-serif);
  font-size: var(--ui-label-regular-font-size, 18px);
  line-height: var(--ui-label-regular-line-height, 150%);
  font-weight: var(--ui-label-regular-font-weight, 400);
  position: relative;
}
.final-project {
  color: #ffffff;
  text-align: left;
  font-family: var(--ui-label-regular-font-family, "Inter-Regular", sans-serif);
  font-size: var(--ui-label-regular-font-size, 18px);
  line-height: var(--ui-label-regular-line-height, 150%);
  font-weight: var(--ui-label-regular-font-weight, 400);
  position: relative;
}
.frame-163 {
  display: flex;
  flex-direction: column;
  gap: 13px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 142px;
  top: 230px;
}
.frame-155 {
  display: flex;
  flex-direction: column;
  gap: 29px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.computer-controlled-cutting {
  color: #ffffff;
  text-align: left;
  font-family: var(--h2-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h2-heading-font-size, 92px);
  line-height: var(--h2-heading-line-height, 110%);
  font-weight: var(--h2-heading-font-weight, 800);
  position: relative;
}
.frame-139 {
  display: flex;
  flex-direction: column;
  gap: 22px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.cnc-cutting {
  color: #ffffff;
  text-align: left;
  font-family: var(--h2-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h2-heading-font-size, 92px);
  line-height: var(--h2-heading-line-height, 110%);
  font-weight: var(--h2-heading-font-weight, 800);
  position: relative;
  width: 1271px;
  height: 115px;
}
.how-to-keep-safety {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  position: relative;
  width: 1193px;
  height: 47px;
}
._1-understand-all-the-operation-manual-before-using-the-equipment-to-fully-understand-and-master-the-relevant-instruction-manual-when-new-equipment-is-introduced-the-operating-manual-of-the-equipment-needs-to-be-studied-and-understood-in-detail-2-keep-the-equipment-clean-not-only-the-machine-tool-itself-but-also-the-working-environment-should-be-kept-tidy-chips-and-debris-should-be-cleaned-up-in-a-timely-manner-to-avoid-interfering-with-the-operation-of-the-machine-or-causing-safety-accidents {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
  width: 1600px;
  height: 165px;
}
.image-1 {
  flex-shrink: 0;
  width: 1600px;
  height: 900px;
  position: relative;
  object-fit: cover;
}
._3-regular-fine-inspection-for-example-check-whether-the-oil-rubbing-plate-on-the-machine-tool-guideway-is-worn-out-whether-the-lubricant-and-coolant-status-is-normal-if-there-is-any-problem-it-should-be-replaced-or-supplemented-in-time-4-equipment-protection-for-rotating-cutting-tools-belts-and-pulleys-high-voltage-circuits-noise-and-compressed-air-and-other-safety-hazards-brought-about-by-the-preventive-protection-measures-should-be-taken {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
  width: 1600px;
  height: 156px;
}
.image-2 {
  flex-shrink: 0;
  width: 1600px;
  height: 898.07px;
  position: relative;
  object-fit: cover;
}
._5-do-not-abuse-the-workbench-it-is-prohibited-to-use-the-machine-tool-workbench-as-other-workbenches-such-as-temporary-storage-of-miscellaneous-items-6-safe-operation-do-not-use-compressed-air-to-blow-off-the-machine-parts-machine-surfaces-cabinets-controllers-or-the-floor-around-the-machine-chips-7-pay-attention-to-rest-prolonged-operation-of-cnc-machine-tools-may-lead-to-fatigue-affecting-judgment-and-operating-ability-therefore-proper-rest-is-also-an-important-measure-to-protect-safety-see-website-for-details-https-www-tukuppt-com-muban-zbokbdro-html-video-https-www-bilibili-com-video-bv-19-x-4-y-1-u-7-oz-vd-source-fa-1-fa-576-a-1-a-332-d-4070-b-678075-b-7-d-8-f-6 {
  color: #ffffff;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 22px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
  width: 1600px;
  height: 363px;
}
._5-do-not-abuse-the-workbench-it-is-prohibited-to-use-the-machine-tool-workbench-as-other-workbenches-such-as-temporary-storage-of-miscellaneous-items-6-safe-operation-do-not-use-compressed-air-to-blow-off-the-machine-parts-machine-surfaces-cabinets-controllers-or-the-floor-around-the-machine-chips-7-pay-attention-to-rest-prolonged-operation-of-cnc-machine-tools-may-lead-to-fatigue-affecting-judgment-and-operating-ability-therefore-proper-rest-is-also-an-important-measure-to-protect-safety-see-website-for-details-https-www-tukuppt-com-muban-zbokbdro-html-video-https-www-bilibili-com-video-bv-19-x-4-y-1-u-7-oz-vd-source-fa-1-fa-576-a-1-a-332-d-4070-b-678075-b-7-d-8-f-6-span {
  color: #ffffff;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  line-height: 150%;
  font-weight: 400;
}
._5-do-not-abuse-the-workbench-it-is-prohibited-to-use-the-machine-tool-workbench-as-other-workbenches-such-as-temporary-storage-of-miscellaneous-items-6-safe-operation-do-not-use-compressed-air-to-blow-off-the-machine-parts-machine-surfaces-cabinets-controllers-or-the-floor-around-the-machine-chips-7-pay-attention-to-rest-prolonged-operation-of-cnc-machine-tools-may-lead-to-fatigue-affecting-judgment-and-operating-ability-therefore-proper-rest-is-also-an-important-measure-to-protect-safety-see-website-for-details-https-www-tukuppt-com-muban-zbokbdro-html-video-https-www-bilibili-com-video-bv-19-x-4-y-1-u-7-oz-vd-source-fa-1-fa-576-a-1-a-332-d-4070-b-678075-b-7-d-8-f-6-span2 {
  color: #ffffff;
  font-family: "Inter-Bold", sans-serif;
  font-size: 22px;
  line-height: 150%;
  font-weight: 700;
}
._5-do-not-abuse-the-workbench-it-is-prohibited-to-use-the-machine-tool-workbench-as-other-workbenches-such-as-temporary-storage-of-miscellaneous-items-6-safe-operation-do-not-use-compressed-air-to-blow-off-the-machine-parts-machine-surfaces-cabinets-controllers-or-the-floor-around-the-machine-chips-7-pay-attention-to-rest-prolonged-operation-of-cnc-machine-tools-may-lead-to-fatigue-affecting-judgment-and-operating-ability-therefore-proper-rest-is-also-an-important-measure-to-protect-safety-see-website-for-details-https-www-tukuppt-com-muban-zbokbdro-html-video-https-www-bilibili-com-video-bv-19-x-4-y-1-u-7-oz-vd-source-fa-1-fa-576-a-1-a-332-d-4070-b-678075-b-7-d-8-f-6-span3 {
  color: #ffffff;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  line-height: 150%;
  font-weight: 400;
}
._5-do-not-abuse-the-workbench-it-is-prohibited-to-use-the-machine-tool-workbench-as-other-workbenches-such-as-temporary-storage-of-miscellaneous-items-6-safe-operation-do-not-use-compressed-air-to-blow-off-the-machine-parts-machine-surfaces-cabinets-controllers-or-the-floor-around-the-machine-chips-7-pay-attention-to-rest-prolonged-operation-of-cnc-machine-tools-may-lead-to-fatigue-affecting-judgment-and-operating-ability-therefore-proper-rest-is-also-an-important-measure-to-protect-safety-see-website-for-details-https-www-tukuppt-com-muban-zbokbdro-html-video-https-www-bilibili-com-video-bv-19-x-4-y-1-u-7-oz-vd-source-fa-1-fa-576-a-1-a-332-d-4070-b-678075-b-7-d-8-f-6-span4 {
  color: #ffffff;
  font-family: "Inter-Bold", sans-serif;
  font-size: 22px;
  line-height: 150%;
  font-weight: 700;
}
.frame-124 {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.learn-cnc {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  position: relative;
  width: 886px;
  height: 42.3px;
}
.cnc-technology-is-also-called-computer-numerical-control-technology-cnc-computerized-numerical-control-it-is-the-use-of-computers-to-achieve-digital-program-control-technology-this-technology-uses-computers-to-perform-the-logical-control-function-of-the-operation-sequence-of-the-equipment-s-trajectory-and-peripherals-according-to-the-control-program-stored-in-advance-as-a-result-of-the-use-of-computers-to-replace-the-original-hardware-logic-circuits-composed-of-numerical-control-devices-so-that-the-input-operating-instructions-for-storage-processing-arithmetic-logic-judgment-and-other-control-functions-can-be-achieved-through-the-computer-software-to-complete-the-processing-of-micro-commands-generated-by-the-servo-drive-device-to-drive-the-motor-or-hydraulic-actuators-to-drive-the-equipment-operation-cnc-professional-is-to-cultivate-mastery-of-cnc-technology-and-application-of-basic-theory-basic-knowledge-can-be-engaged-in-the-production-of-the-first-line-of-production-management-product-marketing-equipment-maintenance-and-other-work-needs-of-the-application-of-senior-technical-personnel {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
  width: 1600px;
  height: 264px;
}
._1 {
  flex-shrink: 0;
  width: 1600px;
  height: 727.47px;
  position: relative;
  object-fit: cover;
}
.cnc-machine-tool-equipment-improves-productivity-and-product-quality-compared-with-traditional-processing-methods-cnc-equipment-is-characterized-by-high-precision-and-high-efficiency-through-digital-control-cnc-equipment-can-accurately-control-each-processing-link-reduce-human-error-and-ensure-the-stability-and-consistency-of-product-quality-this-not-only-improves-the-production-efficiency-but-also-reduces-the-scrap-rate-and-saves-cost-for-the-enterprise-promoted-the-transformation-and-upgrading-of-the-manufacturing-industry-with-the-increasing-demand-for-consumer-personalization-and-diversification-of-products-the-traditional-processing-methods-have-been-unable-to-meet-the-market-demand-and-cnc-equipment-can-realize-the-processing-of-complex-shapes-and-fine-features-through-programming-and-software-control-providing-strong-support-for-the-transformation-and-upgrading-of-the-manufacturing-industry-at-the-same-time-the-degree-of-intelligence-and-automation-of-cnc-equipment-is-getting-higher-and-higher-making-the-manufacturing-industry-better-able-to-adapt-to-market-changes-and-user-needs-it-helps-to-improve-the-competitiveness-of-enterprises-in-the-context-of-globalized-competition-the-competitiveness-of-enterprises-depends-on-the-quality-and-innovation-of-products-and-cnc-equipment-as-a-core-tool-of-modern-industrial-manufacturing-can-help-enterprises-quickly-respond-to-market-changes-and-launch-competitive-products-at-the-same-time-through-the-introduction-of-advanced-cnc-equipment-and-technology-enterprises-can-also-improve-their-own-technical-level-and-research-and-development-capabilities-so-as-to-better-respond-to-market-challenges-and-opportunities {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
  width: 1600px;
  height: 461px;
}
.frame-123 {
  flex-shrink: 0;
  width: 1600px;
  height: 223px;
  position: relative;
}
.cnc-machine-type {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  position: absolute;
  left: 0px;
  top: 0px;
  width: 886px;
  height: 42.3px;
}
.cnc-machine-tools-is-a-digital-control-machine-tools-computer-numerical-control-machine-tools-is-a-program-control-system-equipped-with-automated-machine-tools-cnc-machine-tools-realize-the-complexity-precision-small-batch-multi-species-parts-processing-is-a-flexible-high-performance-automated-machine-tools-representing-the-direction-of-development-of-modern-machine-tool-control-technology-there-are-many-types-of-cnc-machine-tools-which-can-be-categorized-in-different-ways-according-to-the-classification-of-process-use-according-to-the-classification-of-motion-control-mode-and-servo-control-mode-and-so-on {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  line-height: 150%;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 58.3px;
  width: 1600px;
  height: 165px;
}
.cnc-lathe {
  color: #ffffff;
  text-align: left;
  font-family: var(--h4-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h4-heading-font-size, 24px);
  line-height: var(--h4-heading-line-height, 110%);
  font-weight: var(--h4-heading-font-weight, 800);
  position: relative;
  width: 886px;
  height: 42.3px;
}
.cnc-lathe-is-one-of-the-more-widely-used-cnc-machine-tools-it-is-mainly-used-for-shaft-parts-or-disk-parts-of-the-internal-and-external-cylindrical-surface-any-cone-angle-of-the-internal-and-external-conical-surface-complex-rotary-internal-and-external-surfaces-and-cylindrical-tapered-threads-and-other-cutting-and-can-be-grooving-drilling-reaming-reaming-and-boring-application-cnc-lathe-is-a-high-precision-high-efficiency-machining-equipment-widely-used-in-many-fields-including-automotive-manufacturing-aerospace-manufacturing-mold-and-die-manufacturing-electronic-equipment-manufacturing-medical-device-manufacturing-and-energy-equipment-manufacturing {
  color: #ffffff;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 22px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
  width: 1600px;
  height: 231px;
}
.cnc-lathe-is-one-of-the-more-widely-used-cnc-machine-tools-it-is-mainly-used-for-shaft-parts-or-disk-parts-of-the-internal-and-external-cylindrical-surface-any-cone-angle-of-the-internal-and-external-conical-surface-complex-rotary-internal-and-external-surfaces-and-cylindrical-tapered-threads-and-other-cutting-and-can-be-grooving-drilling-reaming-reaming-and-boring-application-cnc-lathe-is-a-high-precision-high-efficiency-machining-equipment-widely-used-in-many-fields-including-automotive-manufacturing-aerospace-manufacturing-mold-and-die-manufacturing-electronic-equipment-manufacturing-medical-device-manufacturing-and-energy-equipment-manufacturing-span {
  color: #ffffff;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  line-height: 150%;
  font-weight: 400;
}
.cnc-lathe-is-one-of-the-more-widely-used-cnc-machine-tools-it-is-mainly-used-for-shaft-parts-or-disk-parts-of-the-internal-and-external-cylindrical-surface-any-cone-angle-of-the-internal-and-external-conical-surface-complex-rotary-internal-and-external-surfaces-and-cylindrical-tapered-threads-and-other-cutting-and-can-be-grooving-drilling-reaming-reaming-and-boring-application-cnc-lathe-is-a-high-precision-high-efficiency-machining-equipment-widely-used-in-many-fields-including-automotive-manufacturing-aerospace-manufacturing-mold-and-die-manufacturing-electronic-equipment-manufacturing-medical-device-manufacturing-and-energy-equipment-manufacturing-span2 {
  color: #ffffff;
  font-family: "Inter-Bold", sans-serif;
  font-size: 22px;
  line-height: 150%;
  font-weight: 700;
}
.cnc-lathe-is-one-of-the-more-widely-used-cnc-machine-tools-it-is-mainly-used-for-shaft-parts-or-disk-parts-of-the-internal-and-external-cylindrical-surface-any-cone-angle-of-the-internal-and-external-conical-surface-complex-rotary-internal-and-external-surfaces-and-cylindrical-tapered-threads-and-other-cutting-and-can-be-grooving-drilling-reaming-reaming-and-boring-application-cnc-lathe-is-a-high-precision-high-efficiency-machining-equipment-widely-used-in-many-fields-including-automotive-manufacturing-aerospace-manufacturing-mold-and-die-manufacturing-electronic-equipment-manufacturing-medical-device-manufacturing-and-energy-equipment-manufacturing-span3 {
  color: #ffffff;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  line-height: 150%;
  font-weight: 400;
}
.cnc-lathe-is-one-of-the-more-widely-used-cnc-machine-tools-it-is-mainly-used-for-shaft-parts-or-disk-parts-of-the-internal-and-external-cylindrical-surface-any-cone-angle-of-the-internal-and-external-conical-surface-complex-rotary-internal-and-external-surfaces-and-cylindrical-tapered-threads-and-other-cutting-and-can-be-grooving-drilling-reaming-reaming-and-boring-application-cnc-lathe-is-a-high-precision-high-efficiency-machining-equipment-widely-used-in-many-fields-including-automotive-manufacturing-aerospace-manufacturing-mold-and-die-manufacturing-electronic-equipment-manufacturing-medical-device-manufacturing-and-energy-equipment-manufacturing-span4 {
  color: #ffffff;
  font-family: "Inter-Bold", sans-serif;
  font-size: 22px;
  line-height: 150%;
  font-weight: 700;
}
.frame-153 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.image-5 {
  flex-shrink: 0;
  width: 1600px;
  height: 1153.33px;
  position: relative;
  object-fit: cover;
}
.cak-6150-cnc-lathe {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
  width: 286px;
  height: 46px;
}
.frame-152 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-140 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.image-6 {
  flex-shrink: 0;
  width: 1600px;
  height: 643.33px;
  position: relative;
  object-fit: cover;
}
.rectangle-100 {
  border-style: solid;
  border-color: #ff0000;
  border-width: 2px;
  flex-shrink: 0;
  width: 203px;
  height: 282px;
  position: absolute;
  left: 90px;
  top: 124px;
}
.stainless-steel-bar-stock-is-added-to-the-spindle-through-the-jaws-and-clamped-with-hardened-jaws-with-biting-teeth-on-the-surface-to-ensure-that-the-workpiece-does-not-slide {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
  width: 1600px;
  height: 165px;
}
.frame-146 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-141 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.image-7 {
  flex-shrink: 0;
  width: 1600px;
  height: 655.91px;
  position: relative;
  object-fit: cover;
}
.rectangle-101 {
  border-style: solid;
  border-color: #ff0000;
  border-width: 2px;
  flex-shrink: 0;
  width: 131px;
  height: 109px;
  position: absolute;
  left: 591px;
  top: 136.94px;
}
.c-type-external-round {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
  width: 286px;
  height: 46px;
}
.frame-147 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-142 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.image-8 {
  flex-shrink: 0;
  width: 1600px;
  height: 608.87px;
  position: relative;
  object-fit: cover;
}
.rectangle-102 {
  border-style: solid;
  border-color: #ff0000;
  border-width: 2px;
  flex-shrink: 0;
  width: 181px;
  height: 190px;
  position: absolute;
  left: 992px;
  top: 111px;
}
.v-shaped-roughing-cutter {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
  width: 286px;
  height: 46px;
}
.frame-148 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-143 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.image-9 {
  flex-shrink: 0;
  width: 1600px;
  height: 631.92px;
  position: relative;
  object-fit: cover;
}
.rectangle-103 {
  border-style: solid;
  border-color: #ff0000;
  border-width: 2px;
  flex-shrink: 0;
  width: 102px;
  height: 164px;
  position: absolute;
  left: 992px;
  top: 171px;
}
.v-shaped-external-cutter {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
  width: 286px;
  height: 46px;
}
.frame-149 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-144 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.image-10 {
  flex-shrink: 0;
  width: 1600px;
  height: 613.39px;
  position: relative;
  object-fit: cover;
}
.rectangle-104 {
  border-style: solid;
  border-color: #ff0000;
  border-width: 2px;
  flex-shrink: 0;
  width: 198px;
  height: 164px;
  position: absolute;
  left: 920px;
  top: 114px;
}
.threaded-tool-lathe {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
  width: 286px;
  height: 46px;
}
.frame-150 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-145 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.image-11 {
  flex-shrink: 0;
  width: 1600px;
  height: 748.77px;
  position: relative;
  object-fit: cover;
}
.rectangle-105 {
  border-style: solid;
  border-color: #ff0000;
  border-width: 2px;
  flex-shrink: 0;
  width: 105px;
  height: 232px;
  position: absolute;
  left: 643px;
  top: 10px;
}
.slotter {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
  width: 286px;
  height: 46px;
}
.frame-151 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.image-12 {
  flex-shrink: 0;
  width: 1610px;
  height: 609px;
  position: relative;
  object-fit: cover;
}
.final-product {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
  width: 286px;
  height: 46px;
}
.frame-154 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.video-https-www-bilibili-com-video-bv-1-s-1421-i-7-ai-vd-source-fa-1-fa-576-a-1-a-332-d-4070-b-678075-b-7-d-8-f-6 {
  color: #ffffff;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 22px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
  width: 1266px;
  height: 46px;
}
.video-https-www-bilibili-com-video-bv-1-s-1421-i-7-ai-vd-source-fa-1-fa-576-a-1-a-332-d-4070-b-678075-b-7-d-8-f-6-span {
  color: #ffffff;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  line-height: 150%;
  font-weight: 400;
}
.video-https-www-bilibili-com-video-bv-1-s-1421-i-7-ai-vd-source-fa-1-fa-576-a-1-a-332-d-4070-b-678075-b-7-d-8-f-6-span2 {
  color: #ffffff;
  font-family: "Inter-Bold", sans-serif;
  font-size: 22px;
  line-height: 150%;
  font-weight: 700;
}
.frame-114 {
  flex-shrink: 0;
  width: 1600px;
  height: 852.3px;
  position: relative;
}
.make-sure-the-machine {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  position: absolute;
  left: 0px;
  top: 0px;
  width: 886px;
  height: 37px;
}
.reason-for-selection {
  color: #ffffff;
  text-align: left;
  font-family: var(--h4-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h4-heading-font-size, 24px);
  line-height: var(--h4-heading-line-height, 110%);
  font-weight: var(--h4-heading-font-weight, 800);
  position: absolute;
  left: 0px;
  top: 163px;
  width: 886px;
  height: 42.3px;
}
._1-dimensional-adaptability-cnc-milling-machines-machining-centers-usually-have-a-large-workspace-and-flexible-machining-capabilities-which-can-adapt-to-the-machining-needs-of-gears-of-different-sizes-since-you-mentioned-not-very-large-gears-the-machining-range-of-cnc-milling-machines-should-be-sufficient-to-meet-your-needs-2-high-precision-cnc-milling-machines-use-advanced-cnc-technology-to-achieve-high-precision-machining-modern-cnc-machining-accuracy-can-reach-the-micrometer-level-which-is-crucial-for-the-tooth-profile-accuracy-and-fitting-accuracy-of-gears-3-material-adaptability-cnc-milling-machines-can-process-materials-of-various-hardness-including-metals-plastics-etc-you-need-to-choose-the-appropriate-cutting-tool-and-machining-parameters-based-on-the-material-of-the-gear-4-processing-efficiency-cnc-milling-machines-have-an-automatic-tool-changing-function-if-equipped-with-a-tool-library-which-can-greatly-improve-processing-efficiency-by-writing-appropriate-machining-programs-multiple-machining-steps-of-gears-can-be-completed-at-once-reducing-machining-time-and-cost {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  line-height: 150%;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 235.3px;
  width: 1600px;
  height: 330px;
}
.key-points-for-selecting-cnc-milling-machines {
  color: #ffffff;
  text-align: left;
  font-family: var(--h4-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h4-heading-font-size, 24px);
  line-height: var(--h4-heading-line-height, 110%);
  font-weight: var(--h4-heading-font-weight, 800);
  position: absolute;
  left: 0px;
  top: 595.3px;
  width: 886px;
  height: 29px;
}
._1-machine-specifications-ensure-that-the-selected-cnc-milling-machine-s-workbench-size-and-spindle-power-can-meet-the-machining-requirements-of-the-gears-2-cnc-system-choose-a-stable-and-reliable-cnc-system-to-ensure-machining-accuracy-and-stability-3-tools-and-fixtures-select-appropriate-cutting-tools-and-fixtures-based-on-the-material-and-size-of-the-gears-to-ensure-machining-quality-and-efficiency-4-processing-plan-write-appropriate-processing-programs-optimize-machining-paths-and-cutting-parameters-to-improve-machining-efficiency-and-accuracy {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  line-height: 150%;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 654.3px;
  width: 1600px;
  height: 198px;
}
.the-cnc-milling-machine-in-the-video-as-a-tool-provides-many-conveniences-for-the-processing-personnel {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  line-height: 150%;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 83px;
  width: 1583px;
  height: 33px;
}
._2 {
  flex-shrink: 0;
  width: 1600px;
  height: 629.15px;
  position: relative;
  object-fit: cover;
}
.frame-162 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-137 {
  display: flex;
  flex-direction: column;
  gap: 38px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.make-sure-the-material {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  position: relative;
  width: 886px;
  height: 37px;
}
.in-the-video-a-complex-threaded-part-was-processed-using-stainless-steel-which-is-the-most-common-metal-raw-material {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
  width: 1583px;
  height: 33px;
}
.material-definition {
  color: #ffffff;
  text-align: left;
  font-family: var(--h4-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h4-heading-font-size, 24px);
  line-height: var(--h4-heading-line-height, 110%);
  font-weight: var(--h4-heading-font-weight, 800);
  position: relative;
  width: 886px;
  height: 29px;
}
.stainless-steel-is-an-alloy-steel-mainly-composed-of-iron-fe-and-at-least-10-5-chromium-cr-and-may-contain-other-elements-such-as-nickel-ni-molybdenum-mo-titanium-ti-and-copper-cu-chromium-is-the-most-important-alloying-element-in-stainless-steel-as-it-can-form-a-dense-layer-of-chromium-oxide-cr-o-film-on-the-surface-of-the-steel-which-can-prevent-further-oxidation-and-corrosion-of-the-steel-giving-stainless-steel-excellent-corrosion-resistance {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
  width: 1600px;
  height: 132px;
}
.the-reason-for-choosing-stainless-steel-as-the-raw-material {
  color: #ffffff;
  text-align: left;
  font-family: var(--h4-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h4-heading-font-size, 24px);
  line-height: var(--h4-heading-line-height, 110%);
  font-weight: var(--h4-heading-font-weight, 800);
  position: relative;
  width: 886px;
  height: 29px;
}
.corrosion-resistance-stainless-steel-has-excellent-corrosion-resistance-and-can-maintain-constant-corrosion-resistance-in-air-or-corrosive-media-high-strength-and-toughness-stainless-steel-exhibits-high-strength-and-toughness-over-a-wide-temperature-range-enabling-it-to-withstand-various-stresses-and-impacts-processing-characteristics-although-stainless-steel-may-encounter-some-problems-during-the-processing-such-as-severe-work-hardening-high-cutting-force-high-cutting-temperature-and-easy-tool-wear-it-can-adapt-to-higher-cutting-speeds-and-optimize-the-processing-by-selecting-appropriate-tools-processing-parameters-and-surface-treatment-methods-environmental-protection-and-recyclability-the-100-recyclability-of-stainless-steel-provides-a-new-way-for-environmental-protection-which-meets-the-requirements-of-modern-manufacturing-for-sustainable-development {
  color: #eeeeee;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
  width: 1600px;
  height: 264px;
}
._3 {
  flex-shrink: 0;
  width: 1600px;
  height: 972px;
  position: relative;
  object-fit: cover;
}
.frame-161 {
  display: flex;
  flex-direction: column;
  gap: 33px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-160 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.laser-cutting {
  color: #ffffff;
  text-align: left;
  font-family: var(--h2-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h2-heading-font-size, 92px);
  line-height: var(--h2-heading-line-height, 110%);
  font-weight: var(--h2-heading-font-weight, 800);
  position: relative;
  width: 1271px;
  height: 115px;
}
.image-15 {
  flex-shrink: 0;
  width: 1600px;
  height: 1063.83px;
  position: relative;
  object-fit: cover;
}
.frame-156 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.laser-cutting-is-the-use-of-focused-high-power-density-laser-beam-irradiation-workpiece-so-that-the-irradiated-material-rapidly-melting-vaporization-ablation-or-to-reach-the-ignition-point-and-at-the-same-time-with-the-help-of-coaxial-with-the-beam-of-high-speed-airflow-blowing-off-the-molten-material-so-as-to-achieve-the-workpiece-cut-laser-cutting-belongs-to-one-of-the-thermal-cutting-methods {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
  width: 1600px;
  height: 121px;
}
.frame-138 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1600px;
  position: relative;
}
.overall-environmental-protection {
  color: #ffffff;
  text-align: left;
  font-family: var(--h4-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h4-heading-font-size, 24px);
  line-height: var(--h4-heading-line-height, 110%);
  font-weight: var(--h4-heading-font-weight, 800);
  position: relative;
  width: 1193px;
  height: 29px;
}
.environmental-settings-when-using-laser-cutting-machine-corners-and-baffles-should-be-set-up-in-the-cutting-area-to-avoid-the-laser-s-rebound-from-harming-the-human-body-installation-of-protective-facilities-the-use-of-laser-must-be-equipped-with-professional-protective-equipment-such-as-ultraviolet-laser-and-electromagnetic-radiation-protection-devices-maintain-the-equipment-regularly-check-and-maintain-the-laser-cutting-machine-to-ensure-that-the-equipment-can-operate-normally-and-reduce-the-occurrence-of-accidents {
  color: #ffffff;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 22px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
  width: 1600px;
  height: 264px;
}
.environmental-settings-when-using-laser-cutting-machine-corners-and-baffles-should-be-set-up-in-the-cutting-area-to-avoid-the-laser-s-rebound-from-harming-the-human-body-installation-of-protective-facilities-the-use-of-laser-must-be-equipped-with-professional-protective-equipment-such-as-ultraviolet-laser-and-electromagnetic-radiation-protection-devices-maintain-the-equipment-regularly-check-and-maintain-the-laser-cutting-machine-to-ensure-that-the-equipment-can-operate-normally-and-reduce-the-occurrence-of-accidents-span {
  color: #ffffff;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  line-height: 150%;
  font-weight: 400;
}
.environmental-settings-when-using-laser-cutting-machine-corners-and-baffles-should-be-set-up-in-the-cutting-area-to-avoid-the-laser-s-rebound-from-harming-the-human-body-installation-of-protective-facilities-the-use-of-laser-must-be-equipped-with-professional-protective-equipment-such-as-ultraviolet-laser-and-electromagnetic-radiation-protection-devices-maintain-the-equipment-regularly-check-and-maintain-the-laser-cutting-machine-to-ensure-that-the-equipment-can-operate-normally-and-reduce-the-occurrence-of-accidents-span2 {
  color: #ffffff;
  font-family: "Inter-Medium", sans-serif;
  font-size: 22px;
  line-height: 150%;
  font-weight: 500;
}
.environmental-settings-when-using-laser-cutting-machine-corners-and-baffles-should-be-set-up-in-the-cutting-area-to-avoid-the-laser-s-rebound-from-harming-the-human-body-installation-of-protective-facilities-the-use-of-laser-must-be-equipped-with-professional-protective-equipment-such-as-ultraviolet-laser-and-electromagnetic-radiation-protection-devices-maintain-the-equipment-regularly-check-and-maintain-the-laser-cutting-machine-to-ensure-that-the-equipment-can-operate-normally-and-reduce-the-occurrence-of-accidents-span3 {
  color: #ffffff;
  font-family: "Inter-BoldItalic", sans-serif;
  font-size: 22px;
  line-height: 150%;
  font-weight: 700;
  font-style: italic;
}
.environmental-settings-when-using-laser-cutting-machine-corners-and-baffles-should-be-set-up-in-the-cutting-area-to-avoid-the-laser-s-rebound-from-harming-the-human-body-installation-of-protective-facilities-the-use-of-laser-must-be-equipped-with-professional-protective-equipment-such-as-ultraviolet-laser-and-electromagnetic-radiation-protection-devices-maintain-the-equipment-regularly-check-and-maintain-the-laser-cutting-machine-to-ensure-that-the-equipment-can-operate-normally-and-reduce-the-occurrence-of-accidents-span4 {
  color: #ffffff;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  line-height: 150%;
  font-weight: 400;
}
.personal-protection {
  color: #ffffff;
  text-align: left;
  font-family: var(--h4-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h4-heading-font-size, 24px);
  line-height: var(--h4-heading-line-height, 110%);
  font-weight: var(--h4-heading-font-weight, 800);
  position: relative;
  width: 1193px;
  height: 31px;
}
.wear-protective-eyewear-the-operator-must-wear-qualified-laser-protective-eyewear-which-can-effectively-prevent-the-laser-beam-from-harming-the-eyes-wear-protective-gloves-during-operation-protective-gloves-should-be-worn-to-avoid-injury-to-the-hands-from-laser-radiation-wear-suitable-protective-clothing-suitable-protective-clothing-is-required-to-prevent-laser-burns-or-burns-to-the-skin {
  color: #ffffff;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 22px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
  width: 1600px;
  height: 176px;
}
.wear-protective-eyewear-the-operator-must-wear-qualified-laser-protective-eyewear-which-can-effectively-prevent-the-laser-beam-from-harming-the-eyes-wear-protective-gloves-during-operation-protective-gloves-should-be-worn-to-avoid-injury-to-the-hands-from-laser-radiation-wear-suitable-protective-clothing-suitable-protective-clothing-is-required-to-prevent-laser-burns-or-burns-to-the-skin-span {
  color: #ffffff;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  line-height: 150%;
  font-weight: 400;
}
.wear-protective-eyewear-the-operator-must-wear-qualified-laser-protective-eyewear-which-can-effectively-prevent-the-laser-beam-from-harming-the-eyes-wear-protective-gloves-during-operation-protective-gloves-should-be-worn-to-avoid-injury-to-the-hands-from-laser-radiation-wear-suitable-protective-clothing-suitable-protective-clothing-is-required-to-prevent-laser-burns-or-burns-to-the-skin-span2 {
  color: #ffffff;
  font-family: "Inter-Black", sans-serif;
  font-size: 22px;
  line-height: 150%;
  font-weight: 900;
}
.wear-protective-eyewear-the-operator-must-wear-qualified-laser-protective-eyewear-which-can-effectively-prevent-the-laser-beam-from-harming-the-eyes-wear-protective-gloves-during-operation-protective-gloves-should-be-worn-to-avoid-injury-to-the-hands-from-laser-radiation-wear-suitable-protective-clothing-suitable-protective-clothing-is-required-to-prevent-laser-burns-or-burns-to-the-skin-span3 {
  color: #ffffff;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  line-height: 150%;
  font-weight: 400;
}
.wear-protective-eyewear-the-operator-must-wear-qualified-laser-protective-eyewear-which-can-effectively-prevent-the-laser-beam-from-harming-the-eyes-wear-protective-gloves-during-operation-protective-gloves-should-be-worn-to-avoid-injury-to-the-hands-from-laser-radiation-wear-suitable-protective-clothing-suitable-protective-clothing-is-required-to-prevent-laser-burns-or-burns-to-the-skin-span4 {
  color: #ffffff;
  font-family: "Inter-Black", sans-serif;
  font-size: 22px;
  line-height: 150%;
  font-weight: 900;
}
.wear-protective-eyewear-the-operator-must-wear-qualified-laser-protective-eyewear-which-can-effectively-prevent-the-laser-beam-from-harming-the-eyes-wear-protective-gloves-during-operation-protective-gloves-should-be-worn-to-avoid-injury-to-the-hands-from-laser-radiation-wear-suitable-protective-clothing-suitable-protective-clothing-is-required-to-prevent-laser-burns-or-burns-to-the-skin-span5 {
  color: #ffffff;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  line-height: 150%;
  font-weight: 400;
}
.wear-protective-eyewear-the-operator-must-wear-qualified-laser-protective-eyewear-which-can-effectively-prevent-the-laser-beam-from-harming-the-eyes-wear-protective-gloves-during-operation-protective-gloves-should-be-worn-to-avoid-injury-to-the-hands-from-laser-radiation-wear-suitable-protective-clothing-suitable-protective-clothing-is-required-to-prevent-laser-burns-or-burns-to-the-skin-span6 {
  color: #ffffff;
  font-family: "Inter-Black", sans-serif;
  font-size: 22px;
  line-height: 150%;
  font-weight: 900;
}
.wear-protective-eyewear-the-operator-must-wear-qualified-laser-protective-eyewear-which-can-effectively-prevent-the-laser-beam-from-harming-the-eyes-wear-protective-gloves-during-operation-protective-gloves-should-be-worn-to-avoid-injury-to-the-hands-from-laser-radiation-wear-suitable-protective-clothing-suitable-protective-clothing-is-required-to-prevent-laser-burns-or-burns-to-the-skin-span7 {
  color: #ffffff;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  line-height: 150%;
  font-weight: 400;
}
.machine-operation {
  color: #ffffff;
  text-align: left;
  font-family: var(--h4-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h4-heading-font-size, 24px);
  line-height: var(--h4-heading-line-height, 110%);
  font-weight: var(--h4-heading-font-weight, 800);
  position: relative;
  width: 1193px;
  height: 31px;
}
.caution-when-using-the-laser-cutting-machine-it-must-be-operated-cautiously-to-avoid-harm-caused-by-accidental-misoperation-cutting-area-protection-for-the-cutting-area-it-should-be-operated-in-strict-accordance-with-the-operation-procedure-to-prevent-the-laser-from-irradiating-the-irrelevant-area-standardized-operation-process-in-the-operation-process-the-laser-cutting-machine-must-be-operated-in-accordance-with-the-standardized-process-and-the-operation-process-or-operation-parameters-must-not-be-changed-at-will {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
  width: 1600px;
  height: 241px;
}
.different-kind-of-material-which-can-be-manufacture-by-laser-cutting {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  position: relative;
  width: 1682px;
  height: 47px;
}
.stainless-steels-acrylic-glass {
  color: #ffffff;
  text-align: left;
  font-family: var(--h4-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h4-heading-font-size, 24px);
  line-height: var(--h4-heading-line-height, 110%);
  font-weight: var(--h4-heading-font-weight, 800);
  position: relative;
  width: 1193px;
  height: 128px;
}
.stainless-steels-cutting {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  position: relative;
  width: 1193px;
  height: 47px;
}
._1-preparation-determine-the-cutting-size-workpiece-surface-cleanliness-and-flatness-and-choose-suitable-cutting-machine-and-equipment-2-setting-parameters-adjust-the-laser-power-scanning-speed-gas-flow-and-other-parameters-according-to-the-material-thickness-material-cutting-shape-processing-requirements-and-other-factors-3-preheating-and-pre-melting-before-the-laser-beam-irradiates-the-workpiece-inert-gas-is-sprayed-to-the-surface-of-the-workpiece-through-the-nozzle-to-increase-the-surface-temperature-and-reduce-the-influence-of-the-laser-beam-on-the-workpiece-when-cutting-4-cutting-and-processing-the-laser-beam-focuses-on-the-surface-of-the-workpiece-melting-and-vaporizing-the-stainless-steel-material-through-the-action-of-high-temperature-and-high-energy-to-form-the-cutting-opening-5-cleaning-and-processing-remove-the-iron-filings-oxides-and-other-impurities-generated-during-the-cutting-process-and-polish-and-paint-the-cutout-to-improve-the-surface-quality {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
  width: 1600px;
  height: 446px;
}
.frame-157 {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.image-16 {
  flex-shrink: 0;
  width: 1600px;
  height: 900px;
  position: relative;
  object-fit: cover;
}
.acrylic-cutting {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  position: relative;
  width: 1193px;
  height: 53px;
}
._1-preparation-check-whether-the-laser-cutting-machine-works-properly-adjust-the-cutting-parameters-to-ensure-the-cutting-quality-2-measuring-and-marking-use-ruler-and-pencil-to-measure-and-mark-on-the-acrylic-board-to-determine-the-position-and-size-to-be-cut-3-fix-the-acrylic-board-fix-the-acrylic-board-on-the-working-table-of-the-laser-cutting-machine-to-ensure-safety-and-reliability-4-set-cutting-parameters-according-to-the-thickness-of-the-acrylic-plate-and-cutting-requirements-set-the-laser-cutting-parameters-including-power-speed-etc-5-start-cutting-start-the-laser-cutting-machine-let-it-cut-according-to-the-preset-parameters-6-observe-the-cutting-process-during-the-cutting-process-observe-the-cutting-status-to-ensure-the-cutting-quality-7-remove-the-cut-pieces-after-the-cutting-is-completed-carefully-remove-the-cut-acrylic-pieces-8-remove-residue-clean-up-the-residue-in-the-cutting-area-to-keep-the-working-environment-tidy {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
  width: 1600px;
  height: 548px;
}
.frame-159 {
  display: flex;
  flex-direction: column;
  gap: 23px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.image-17 {
  flex-shrink: 0;
  width: 1600px;
  height: 1199.4px;
  position: relative;
  object-fit: cover;
}
.frame-158 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.glass-cutting {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  position: relative;
  width: 1193px;
  height: 53px;
}
._1-confirm-the-type-of-glass-and-obtain-information-on-the-material-and-thickness-of-the-glass-2-2-prepare-fine-dust-cloths-and-items-to-wipe-the-glass-surface-to-ensure-that-the-surface-of-the-glass-is-clean-3-post-signs-and-set-up-isolation-zones-in-the-cutting-area-to-remind-the-surrounding-personnel-to-pay-attention-to-safety-4-design-and-adjust-the-cutting-pattern-and-import-the-required-cutting-pattern-into-the-laser-cutting-machine-5-fix-the-glass-on-the-cutting-table-and-adjust-the-angle-and-position-6-start-the-laser-cutting-through-the-control-system-of-the-laser-cutting-machine-7-according-to-the-set-cutting-pattern-the-laser-cutting-machine-will-automatically-carry-out-cutting-until-the-whole-pattern-is-completed-8-turn-off-the-light-cutter-and-wait-for-the-cut-glass-to-cool-down-9-remove-the-remaining-edges-and-rusty-places-around-the-cutting-pattern-to-ensure-the-glass-surface-is-smooth-10-grind-or-polish-around-the-cutting-pattern-to-improve-the-appearance-of-the-glass {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
  width: 1600px;
  height: 640px;
}
.image-18 {
  flex-shrink: 0;
  width: 1600px;
  height: 603.55px;
  position: relative;
  object-fit: cover;
}
