.desktop-5,
.desktop-5 * {
  box-sizing: border-box;
}
.desktop-5 {
  background: #000000;
  height: 18400px;
  position: relative;
  overflow: hidden;
}
.rectangle-17 {
  background: conic-gradient(
    from 137.73deg at 50% 50%,
    rgba(0, 0, 0, 1) 6.499350816011429%,
    rgba(224, 35, 136, 1) 46.89826965332031%,
    rgba(39, 99, 183, 1) 53.4933865070343%,
    rgba(20, 52, 97, 0.53) 74.00311231613159%,
    rgba(0, 0, 0, 1) 96.79219126701355%
  );
  width: 1000px;
  height: 1100px;
  position: absolute;
  left: 1451.86px;
  top: 0px;
  transform-origin: 0 0;
  transform: rotate(45deg) scale(1, 1);
  filter: blur(96px);
}
.frame-7 {
  background: rgba(255, 255, 255, 0.03);
  border-radius: 24px;
  border-style: solid;
  border-color: rgba(233, 233, 233, 0.62);
  border-width: 1px;
  padding: 16px 88px 16px 88px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: calc(50% - 815px);
  top: 89px;
  backdrop-filter: blur(30px);
}
.frame-6 {
  display: flex;
  flex-direction: row;
  gap: 777px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1454px;
  position: relative;
}
.mars {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  position: relative;
}
.frame-5 {
  display: flex;
  flex-direction: row;
  gap: 48px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.about-us {
  color: #ffffff;
  text-align: left;
  font-family: var(--ui-label-regular-font-family, "Inter-Regular", sans-serif);
  font-size: var(--ui-label-regular-font-size, 18px);
  line-height: var(--ui-label-regular-line-height, 150%);
  font-weight: var(--ui-label-regular-font-weight, 400);
  position: relative;
}
.previous-projects {
  color: #ffffff;
  text-align: left;
  font-family: var(--ui-label-regular-font-family, "Inter-Regular", sans-serif);
  font-size: var(--ui-label-regular-font-size, 18px);
  line-height: var(--ui-label-regular-line-height, 150%);
  font-weight: var(--ui-label-regular-font-weight, 400);
  position: relative;
}
.team-members {
  color: #ffffff;
  text-align: left;
  font-family: var(--ui-label-regular-font-family, "Inter-Regular", sans-serif);
  font-size: var(--ui-label-regular-font-size, 18px);
  line-height: var(--ui-label-regular-line-height, 150%);
  font-weight: var(--ui-label-regular-font-weight, 400);
  position: relative;
}
.final-project {
  color: #ffffff;
  text-align: left;
  font-family: var(--ui-label-regular-font-family, "Inter-Regular", sans-serif);
  font-size: var(--ui-label-regular-font-size, 18px);
  line-height: var(--ui-label-regular-line-height, 150%);
  font-weight: var(--ui-label-regular-font-weight, 400);
  position: relative;
}
.frame-273 {
  display: flex;
  flex-direction: column;
  gap: 143px;
  align-items: center;
  justify-content: flex-start;
  width: 1625px;
  position: absolute;
  left: 150px;
  top: 237px;
}
.frame-216 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.h-1-heading {
  background: var(
    --linear1,
    linear-gradient(
      180deg,
      rgba(253, 253, 253, 1) 0%,
      rgba(205, 205, 205, 1) 64.99999761581421%,
      rgba(155, 155, 155, 1) 100%
    )
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: var(--h2-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h2-heading-font-size, 92px);
  line-height: var(--h2-heading-line-height, 110%);
  font-weight: var(--h2-heading-font-weight, 800);
  position: relative;
}
.image-103 {
  flex-shrink: 0;
  width: 1600px;
  height: 897.23px;
  position: relative;
  object-fit: cover;
}
.frame-243 {
  display: flex;
  flex-direction: column;
  gap: 71px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1519px;
  position: relative;
}
.concept-description {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  position: relative;
  align-self: stretch;
  height: 47px;
}
.frame-220 {
  display: flex;
  flex-direction: row;
  gap: 333px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-217 {
  display: flex;
  flex-direction: column;
  gap: 68px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 735px;
  position: relative;
}
.mental-health-problem {
  color: #ffffff;
  text-align: left;
  font-family: var(--h4-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h4-heading-font-size, 24px);
  line-height: var(--h4-heading-line-height, 110%);
  font-weight: var(--h4-heading-font-weight, 800);
  position: relative;
  align-self: stretch;
}
.the-united-nations-sustainable-development-goals-for-good-health-and-wellbeing-aim-to-ensure-a-healthy-lifestyle-and-promote-the-well-being-of-people-of-all-ages-this-goal-aims-to-eradicate-a-range-of-diseases-and-address-various-stubborn-and-emerging-health-issues-especially-in-today-s-21st-century-where-people-s-mental-health-issues-are-often-overlooked-this-is-what-we-want-to-warn-everyone-about-sometimes-the-pain-caused-by-mental-illness-is-even-more-difficult-to-recover {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --p1-paragraph-large-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--p1-paragraph-large-font-size, 22px);
  line-height: var(--p1-paragraph-large-line-height, 150%);
  font-weight: var(--p1-paragraph-large-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.image-1 {
  flex-shrink: 0;
  width: 400px;
  height: 392.57px;
  position: relative;
  object-fit: cover;
}
.frame-221 {
  display: flex;
  flex-direction: row;
  gap: 333px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-218 {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 735px;
  position: relative;
}
.fragmented-information-content-with-low-impurities {
  color: #ffffff;
  text-align: left;
  font-family: var(--h4-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h4-heading-font-size, 24px);
  line-height: var(--h4-heading-line-height, 110%);
  font-weight: var(--h4-heading-font-weight, 800);
  position: relative;
  align-self: stretch;
}
.with-the-rise-of-self-media-and-the-emergence-of-rolling-media-the-dissemination-of-information-has-become-more-subjective-with-various-values-and-ideas-flooding-the-entire-network-making-it-difficult-for-everyone-to-distinguish-between-right-and-wrong-in-addition-the-accelerating-pace-of-overall-life-in-society-has-led-to-an-increasing-speed-of-media-browsing-sometimes-unconsciously-acquiescing-to-online-violence-and-accepting-various-negative-thoughts {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --p1-paragraph-large-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--p1-paragraph-large-font-size, 22px);
  line-height: var(--p1-paragraph-large-line-height, 150%);
  font-weight: var(--p1-paragraph-large-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.image-104 {
  flex-shrink: 0;
  width: 400px;
  height: 390.48px;
  position: relative;
  object-fit: cover;
}
.frame-222 {
  display: flex;
  flex-direction: row;
  gap: 333px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-219 {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 735px;
  position: relative;
}
.the-influence-of-ideas-is-unavoidable {
  color: #ffffff;
  text-align: left;
  font-family: var(--h4-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h4-heading-font-size, 24px);
  line-height: var(--h4-heading-line-height, 110%);
  font-weight: var(--h4-heading-font-weight, 800);
  position: relative;
  align-self: stretch;
}
.when-you-browse-through-this-information-you-think-you-can-control-your-thoughts-but-in-fact-no-matter-what-you-cannot-escape-and-will-inevitably-be-influenced-by-it {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --p1-paragraph-large-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--p1-paragraph-large-font-size, 22px);
  line-height: var(--p1-paragraph-large-line-height, 150%);
  font-weight: var(--p1-paragraph-large-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.image-2 {
  flex-shrink: 0;
  width: 400px;
  height: 318.43px;
  position: relative;
  object-fit: cover;
}
.frame-223 {
  display: flex;
  flex-direction: row;
  gap: 284px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-2192 {
  display: flex;
  flex-direction: column;
  gap: 190px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 735px;
  position: relative;
}
.to-detach-from-infinite-rolling {
  color: #ffffff;
  text-align: left;
  font-family: var(--h4-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h4-heading-font-size, 24px);
  line-height: var(--h4-heading-line-height, 110%);
  font-weight: var(--h4-heading-font-weight, 800);
  position: relative;
  align-self: stretch;
}
.so-we-want-to-wake-people-up-some-negative-comments-on-the-internet-even-a-casual-accusation-or-verbal-abuse-and-some-opinions-that-only-represent-personal-colors-accumulate-little-by-little-and-accumulate-one-sentence-at-a-time-which-can-subtly-affect-a-person-even-if-you-subconsciously-want-to-delete-or-block-it-it-has-already-left-an-indelible-impact-in-your-mind-and-eventually-unconsciously-your-thoughts-gradually-become-biased {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --p1-paragraph-large-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--p1-paragraph-large-font-size, 22px);
  line-height: var(--p1-paragraph-large-line-height, 150%);
  font-weight: var(--p1-paragraph-large-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.image-105 {
  flex-shrink: 0;
  width: 500px;
  height: 627.07px;
  position: relative;
  object-fit: cover;
}
.frame-229 {
  display: flex;
  flex-direction: column;
  gap: 41px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1469px;
  position: relative;
}
.target-users {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  position: relative;
  align-self: stretch;
}
.frame-226 {
  display: flex;
  flex-direction: row;
  gap: 334px;
  align-items: flex-end;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-2193 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 735px;
  position: relative;
}
.net-addict {
  color: #ffffff;
  text-align: left;
  font-family: var(--h4-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h4-heading-font-size, 24px);
  line-height: var(--h4-heading-line-height, 110%);
  font-weight: var(--h4-heading-font-weight, 800);
  position: relative;
  align-self: stretch;
}
.the-world-health-organization-identifies-internet-addiction-as-a-disease-the-popularization-of-the-internet-in-china-has-led-to-an-increase-in-internet-addiction-patients-and-those-who-are-addicted-to-the-internet-are-easily-influenced-by-online-speech-and-lose-their-ability-to-think-independently {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --p1-paragraph-large-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--p1-paragraph-large-font-size, 22px);
  line-height: var(--p1-paragraph-large-line-height, 150%);
  font-weight: var(--p1-paragraph-large-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.image-106 {
  flex-shrink: 0;
  width: 400px;
  height: 400px;
  position: relative;
  object-fit: cover;
}
.frame-227 {
  display: flex;
  flex-direction: row;
  gap: 334px;
  align-items: flex-end;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-224 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 735px;
  position: relative;
}
.heads-down-tribe {
  color: #ffffff;
  text-align: left;
  font-family: var(--h4-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h4-heading-font-size, 24px);
  line-height: var(--h4-heading-line-height, 110%);
  font-weight: var(--h4-heading-font-weight, 800);
  position: relative;
  align-self: stretch;
}
.the-characteristics-of-the-bowing-head-tribe-are-walking-and-playing-with-mobile-phones-overly-relying-on-the-internet-often-neglecting-security-and-easily-influenced-by-erroneous-statements {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --p1-paragraph-large-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--p1-paragraph-large-font-size, 22px);
  line-height: var(--p1-paragraph-large-line-height, 150%);
  font-weight: var(--p1-paragraph-large-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.image-107 {
  flex-shrink: 0;
  width: 400px;
  height: 400px;
  position: relative;
  object-fit: cover;
}
.frame-228 {
  display: flex;
  flex-direction: row;
  gap: 334px;
  align-items: flex-end;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-225 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 735px;
  position: relative;
}
.keyboard-warrior {
  color: #ffffff;
  text-align: left;
  font-family: var(--h4-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h4-heading-font-size, 24px);
  line-height: var(--h4-heading-line-height, 110%);
  font-weight: var(--h4-heading-font-weight, 800);
  position: relative;
  align-self: stretch;
}
.keyboardist-is-passionate-about-creating-topics-and-attracting-attention-through-extreme-remarks-essentially-serving-as-a-source-of-spreading-rumors {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --p1-paragraph-large-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--p1-paragraph-large-font-size, 22px);
  line-height: var(--p1-paragraph-large-line-height, 150%);
  font-weight: var(--p1-paragraph-large-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.image-108 {
  flex-shrink: 0;
  width: 400px;
  height: 400px;
  position: relative;
  object-fit: cover;
}
.frame-272 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1575px;
  position: relative;
}
.frame-271 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.device-implementation {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  position: relative;
  width: 1555px;
}
.frame-241 {
  display: flex;
  flex-direction: column;
  gap: 86px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1550px;
  position: relative;
}
.frame-239 {
  display: flex;
  flex-direction: row;
  gap: 427px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-238 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 570px;
  position: relative;
}
.preliminary-plan {
  color: #ffffff;
  text-align: left;
  font-family: var(--h4-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h4-heading-font-size, 24px);
  line-height: var(--h4-heading-line-height, 110%);
  font-weight: var(--h4-heading-font-weight, 800);
  position: relative;
  align-self: stretch;
}
.frame-235 {
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-234 {
  display: flex;
  flex-direction: column;
  gap: 38px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 550px;
  position: relative;
}
.image-109 {
  align-self: stretch;
  flex-shrink: 0;
  height: 489.29px;
  position: relative;
  object-fit: cover;
}
.image-110 {
  align-self: stretch;
  flex-shrink: 0;
  height: 232.51px;
  position: relative;
  object-fit: cover;
}
.frame-233 {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 550px;
  position: relative;
}
.frame-2352 {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-230 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.browsing-web-pages-simulating-the-process-of-people-receiving-fragmented-information {
  color: #ffffff;
  text-align: left;
  font-family: var(--h4-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h4-heading-font-size, 24px);
  line-height: var(--h4-heading-line-height, 110%);
  font-weight: var(--h4-heading-font-weight, 800);
  position: relative;
  align-self: stretch;
}
.create-a-webpage-similar-to-a-comment-section-starting-with-a-controversial-animation-introducing-fragmented-information-pages-filled-with-various-mixed-information {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --p1-paragraph-large-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--p1-paragraph-large-font-size, 22px);
  line-height: var(--p1-paragraph-large-line-height, 150%);
  font-weight: var(--p1-paragraph-large-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.frame-231 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.gesture-control-swipe-down-flip-over-slide-right-annoying-but-nothing-happens {
  color: #ffffff;
  text-align: left;
  font-family: var(--h4-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h4-heading-font-size, 24px);
  line-height: var(--h4-heading-line-height, 110%);
  font-weight: var(--h4-heading-font-weight, 800);
  position: relative;
  align-self: stretch;
}
.visitors-use-gestures-to-control-their-browsing-like-flipping-through-the-comment-section-causing-chaotic-information-to-scroll-endlessly-when-faced-with-comments-they-don-t-like-they-can-right-swipe-to-dislike-them-but-nothing-happens {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --p1-paragraph-large-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--p1-paragraph-large-font-size, 22px);
  line-height: var(--p1-paragraph-large-line-height, 150%);
  font-weight: var(--p1-paragraph-large-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.frame-232 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.time-is-over-the-ball-falls-into-the-balance {
  color: #ffffff;
  text-align: left;
  font-family: var(--h4-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h4-heading-font-size, 24px);
  line-height: var(--h4-heading-line-height, 110%);
  font-weight: var(--h4-heading-font-weight, 800);
  position: relative;
  align-self: stretch;
}
.when-the-time-is-over-all-the-small-balls-fall-into-the-balance-under-the-device-causing-the-balance-to-tilt-implied-to-have-an-impact-on-the-real-world-unable-to-control-one-s-own-thoughts-inevitably-leading-to-an-impact {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --p1-paragraph-large-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--p1-paragraph-large-font-size, 22px);
  line-height: var(--p1-paragraph-large-line-height, 150%);
  font-weight: var(--p1-paragraph-large-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.frame-240 {
  display: flex;
  flex-direction: row;
  gap: 447px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-237 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 553px;
  position: relative;
}
.final-plan {
  color: #ffffff;
  text-align: left;
  font-family: var(--h4-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h4-heading-font-size, 24px);
  line-height: var(--h4-heading-line-height, 110%);
  font-weight: var(--h4-heading-font-weight, 800);
  position: relative;
  align-self: stretch;
}
.image-111 {
  align-self: stretch;
  flex-shrink: 0;
  height: 593.22px;
  position: relative;
  object-fit: cover;
}
.frame-2342 {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 550px;
  position: relative;
}
.gesture-control-swipe-down-and-flip-over-right-swipe-annoying {
  color: #ffffff;
  text-align: left;
  font-family: var(--h4-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h4-heading-font-size, 24px);
  line-height: var(--h4-heading-line-height, 110%);
  font-weight: var(--h4-heading-font-weight, 800);
  position: relative;
  align-self: stretch;
}
.visitors-use-gestures-to-control-their-browsing-like-flipping-through-the-comment-section-causing-chaotic-information-to-scroll-endlessly-when-faced-with-comments-they-don-t-like-they-can-right-click-to-dislike-them {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --p1-paragraph-large-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--p1-paragraph-large-font-size, 22px);
  line-height: var(--p1-paragraph-large-line-height, 150%);
  font-weight: var(--p1-paragraph-large-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.right-swiping-annoying-dropping-a-small-ball-from-behind-the-screen {
  color: #ffffff;
  text-align: left;
  font-family: var(--h4-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h4-heading-font-size, 24px);
  line-height: var(--h4-heading-line-height, 110%);
  font-weight: var(--h4-heading-font-weight, 800);
  position: relative;
  align-self: stretch;
}
.when-you-see-comments-you-don-t-like-you-can-right-swipe-to-dislike-them-and-then-a-small-ball-drops-from-behind-the-screen-indicating-that-it-has-already-had-an-impact-on-the-real-world-unrelated-to-the-choices-of-visitors-and-unable-to-control-your-own-thoughts {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --p1-paragraph-large-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--p1-paragraph-large-font-size, 22px);
  line-height: var(--p1-paragraph-large-line-height, 150%);
  font-weight: var(--p1-paragraph-large-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.frame-270 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-242 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.flow-path {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  position: relative;
}
.image-112 {
  align-self: stretch;
  flex-shrink: 0;
  height: 897.23px;
  position: relative;
  object-fit: cover;
}
.first-watch-the-animation-slide-it-to-enter-the-game-and-information-interface-and-use-three-gesture-controls-at-the-end-of-the-sliding-phase-prompt-words-appear-and-the-game-ends {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --p1-paragraph-large-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--p1-paragraph-large-font-size, 22px);
  line-height: var(--p1-paragraph-large-line-height, 150%);
  font-weight: var(--p1-paragraph-large-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.frame-244 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1600px;
  position: relative;
}
.device-implementation2 {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  position: relative;
  align-self: stretch;
}
.image-113 {
  align-self: stretch;
  flex-shrink: 0;
  height: 899.1px;
  position: relative;
  object-fit: cover;
}
.the-device-behind-the-screen-is-used-to-control-the-ball-to-fall-when-sliding-to-the-right-once-the-motor-rotates-to-drive-the-gear-to-rotate-90-degrees-ensuring-that-one-ball-falls-each-time {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --p1-paragraph-large-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--p1-paragraph-large-font-size, 22px);
  line-height: var(--p1-paragraph-large-line-height, 150%);
  font-weight: var(--p1-paragraph-large-font-weight, 400);
  position: relative;
  width: 1600px;
}
.frame-253 {
  display: flex;
  flex-direction: column;
  gap: 99px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1435px;
  position: relative;
}
.frame-249 {
  display: flex;
  flex-direction: row;
  gap: 218px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.image-114 {
  flex-shrink: 0;
  width: 400px;
  height: 574.3px;
  position: relative;
  object-fit: cover;
}
.frame-245 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 817px;
  position: relative;
}
.ball-dropping-device-acrylic-frame {
  color: #ffffff;
  text-align: left;
  font-family: var(--h4-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h4-heading-font-size, 24px);
  line-height: var(--h4-heading-line-height, 110%);
  font-weight: var(--h4-heading-font-weight, 800);
  position: relative;
  align-self: stretch;
}
.first-the-dimensions-are-determined-through-pre-modeling-with-cad-and-then-customized-using-acrylic-cutting {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --p1-paragraph-large-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--p1-paragraph-large-font-size, 22px);
  line-height: var(--p1-paragraph-large-line-height, 150%);
  font-weight: var(--p1-paragraph-large-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.frame-250 {
  display: flex;
  flex-direction: row;
  gap: 218px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.image-118 {
  flex-shrink: 0;
  width: 400px;
  height: 495.42px;
  position: relative;
  object-fit: cover;
}
.frame-246 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 817px;
  position: relative;
}
._3-d-printing-gears {
  color: #ffffff;
  text-align: left;
  font-family: var(--h4-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h4-heading-font-size, 24px);
  line-height: var(--h4-heading-line-height, 110%);
  font-weight: var(--h4-heading-font-weight, 800);
  position: relative;
  align-self: stretch;
}
.similarly-pre-modeling-and-dimensioning-are-done-through-cad-and-then-printed-using-a-school-printer {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --p1-paragraph-large-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--p1-paragraph-large-font-size, 22px);
  line-height: var(--p1-paragraph-large-line-height, 150%);
  font-weight: var(--p1-paragraph-large-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.frame-251 {
  display: flex;
  flex-direction: row;
  gap: 218px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.image-116 {
  flex-shrink: 0;
  width: 400px;
  height: 392.56px;
  position: relative;
  object-fit: cover;
}
.frame-247 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 817px;
  position: relative;
}
._42-bygh-48-s-stepper-motor {
  color: #ffffff;
  text-align: left;
  font-family: var(--h4-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h4-heading-font-size, 24px);
  line-height: var(--h4-heading-line-height, 110%);
  font-weight: var(--h4-heading-font-weight, 800);
  position: relative;
  align-self: stretch;
}
.we-have-chosen-the-one-with-higher-torque-in-the-42-stepper-motor-series-which-can-resist-the-friction-between-gears-and-prevent-jamming {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --p1-paragraph-large-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--p1-paragraph-large-font-size, 22px);
  line-height: var(--p1-paragraph-large-line-height, 150%);
  font-weight: var(--p1-paragraph-large-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.frame-252 {
  display: flex;
  flex-direction: row;
  gap: 218px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.image-117 {
  flex-shrink: 0;
  width: 400px;
  height: 391.65px;
  position: relative;
  object-fit: cover;
}
.frame-248 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 817px;
  position: relative;
}
.plastic-shell-hollow-ball {
  color: #ffffff;
  text-align: left;
  font-family: var(--h4-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h4-heading-font-size, 24px);
  line-height: var(--h4-heading-line-height, 110%);
  font-weight: var(--h4-heading-font-weight, 800);
  position: relative;
  align-self: stretch;
}
.choose-black-balls-to-represent-negative-reviews-45-mm-20-hollow-small-balls-are-lightweight-and-elastic {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --p1-paragraph-large-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--p1-paragraph-large-font-size, 22px);
  line-height: var(--p1-paragraph-large-line-height, 150%);
  font-weight: var(--p1-paragraph-large-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.frame-256 {
  display: flex;
  flex-direction: row;
  gap: 218px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.oip-c-3 {
  flex-shrink: 0;
  width: 400px;
  height: 308.86px;
  position: relative;
  object-fit: cover;
}
.frame-254 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 817px;
  position: relative;
}
._4988-driver-board-and-cnc-shield {
  color: #ffffff;
  text-align: left;
  font-family: var(--h4-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h4-heading-font-size, 24px);
  line-height: var(--h4-heading-line-height, 110%);
  font-weight: var(--h4-heading-font-weight, 800);
  position: relative;
  align-self: stretch;
}
.the-cnc-shield-can-accommodate-4-a-4988-drive-boards-and-drive-4-42-stepper-motors-the-a-4988-driver-board-can-process-signals-from-the-computer-convert-them-into-interface-signals-suitable-for-driving-motors-and-is-responsible-for-data-transmission-between-the-motherboard-and-the-motor-meanwhile-the-driver-board-can-ensure-the-safety-of-the-power-supply-to-the-42-stepper-motor {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --p1-paragraph-large-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--p1-paragraph-large-font-size, 22px);
  line-height: var(--p1-paragraph-large-line-height, 150%);
  font-weight: var(--p1-paragraph-large-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.frame-255 {
  display: flex;
  flex-direction: row;
  gap: 218px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.sf-dev-11224-1 {
  flex-shrink: 0;
  width: 400px;
  height: 400px;
  position: relative;
  object-fit: cover;
}
.arduino-uno-r-3 {
  color: #ffffff;
  text-align: left;
  font-family: var(--h4-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h4-heading-font-size, 24px);
  line-height: var(--h4-heading-line-height, 110%);
  font-weight: var(--h4-heading-font-weight, 800);
  position: relative;
  align-self: stretch;
}
.same-usage-as-the-nano-board-used-in-class-but-with-more-features-and-power-options-connect-it-with-the-above-two-to-form-the-command-end-of-the-motor-drive-which-forms-the-control-end-with-the-computer-the-programmed-electrical-signal-is-transmitted-to-the-a-4988-drive-board-and-the-drive-motor-rotates-at-a-certain-angle-according-to-the-programming-instructions {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --p1-paragraph-large-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--p1-paragraph-large-font-size, 22px);
  line-height: var(--p1-paragraph-large-line-height, 150%);
  font-weight: var(--p1-paragraph-large-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.frame-269 {
  display: flex;
  flex-direction: column;
  gap: 47px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1556px;
  position: relative;
}
.frame-268 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.technical-solution {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  position: relative;
  width: 1536px;
}
.frame-258 {
  display: flex;
  flex-direction: row;
  gap: 141px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-2482 {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 817px;
  position: relative;
}
.kinect-gesture-collection {
  color: #ffffff;
  text-align: left;
  font-family: var(--h4-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h4-heading-font-size, 24px);
  line-height: var(--h4-heading-line-height, 110%);
  font-weight: var(--h4-heading-font-weight, 800);
  position: relative;
  align-self: stretch;
}
.processing-arduino-interoperability-linking-motor-outputs {
  color: #ffffff;
  text-align: left;
  font-family: var(--h4-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h4-heading-font-size, 24px);
  line-height: var(--h4-heading-line-height, 110%);
  font-weight: var(--h4-heading-font-weight, 800);
  position: relative;
  align-self: stretch;
}
.we-use-the-method-of-recognizing-the-trajectory-of-human-arm-movements-to-run-the-program-we-use-kinect-to-collect-the-movements-of-the-swinging-arm-and-transmit-the-signals-to-processing-where-the-images-provide-different-feedback-based-on-the-human-body-s-movements {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --p1-paragraph-large-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--p1-paragraph-large-font-size, 22px);
  line-height: var(--p1-paragraph-large-line-height, 150%);
  font-weight: var(--p1-paragraph-large-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.program-screen-projection {
  color: #ffffff;
  text-align: left;
  font-family: var(--h4-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h4-heading-font-size, 24px);
  line-height: var(--h4-heading-line-height, 110%);
  font-weight: var(--h4-heading-font-weight, 800);
  position: relative;
  align-self: stretch;
}
.the-main-program-runs-on-the-computer-and-then-projects-the-screen-onto-the-classroom-tv-for-better-visual-effects {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --p1-paragraph-large-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--p1-paragraph-large-font-size, 22px);
  line-height: var(--p1-paragraph-large-line-height, 150%);
  font-weight: var(--p1-paragraph-large-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.frame-257 {
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 500px;
  position: relative;
}
.image-120 {
  align-self: stretch;
  flex-shrink: 0;
  height: 421.47px;
  position: relative;
  object-fit: cover;
}
.image-119 {
  align-self: stretch;
  flex-shrink: 0;
  height: 448.95px;
  position: relative;
  object-fit: cover;
}
.frame-267 {
  display: flex;
  flex-direction: column;
  gap: 120px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1514px;
  position: relative;
}
.frame-259 {
  display: flex;
  flex-direction: row;
  gap: 197px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.image-121 {
  flex-shrink: 0;
  width: 500px;
  height: 667px;
  position: relative;
  object-fit: cover;
}
.after-the-changes-in-the-screen-are-executed-in-processing-a-signal-is-sent-to-the-arduino-cnc-shield-board-to-drive-the-motor-to-rotate-causing-the-small-ball-above-the-device-to-fall-with-the-rolling-of-the-wheel-indicating-that-even-if-these-negative-comments-are-deleted-they-have-an-indelible-impact-on-our-minds {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --p1-paragraph-large-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--p1-paragraph-large-font-size, 22px);
  line-height: var(--p1-paragraph-large-line-height, 150%);
  font-weight: var(--p1-paragraph-large-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.frame-262 {
  display: flex;
  flex-direction: row;
  gap: 141px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.set-against-the-backdrop-of-the-fat-cat-incident-leading-animation {
  color: #ffffff;
  text-align: left;
  font-family: var(--h4-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h4-heading-font-size, 24px);
  line-height: var(--h4-heading-line-height, 110%);
  font-weight: var(--h4-heading-font-weight, 800);
  position: relative;
  align-self: stretch;
}
.we-take-the-fat-cat-incident-on-the-internet-as-the-background-adopt-a-pixel-art-style-design-and-use-a-cute-art-style-to-highlight-how-malicious-comments-from-people-in-the-comment-section-will-accumulate-and-have-an-impact-on-a-person {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --p1-paragraph-large-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--p1-paragraph-large-font-size, 22px);
  line-height: var(--p1-paragraph-large-line-height, 150%);
  font-weight: var(--p1-paragraph-large-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.image-123 {
  flex-shrink: 0;
  width: 500px;
  height: 356.29px;
  position: relative;
  object-fit: cover;
}
.frame-261 {
  display: flex;
  flex-direction: row;
  gap: 141px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-260 {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 817px;
  position: relative;
}
.introducing-unlimited-scrolling-information-pages {
  color: #ffffff;
  text-align: left;
  font-family: var(--h4-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h4-heading-font-size, 24px);
  line-height: var(--h4-heading-line-height, 110%);
  font-weight: var(--h4-heading-font-weight, 800);
  position: relative;
  align-self: stretch;
}
.mars-com-is-an-interactive-platform-that-simulates-the-internet-to-display-multiple-views-reflect-the-complexity-of-the-network-mix-positive-and-negative-comments-reflect-the-power-of-public-opinion-and-demonstrate-the-influence-of-public-opinion-through-negative-comments {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --p1-paragraph-large-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--p1-paragraph-large-font-size, 22px);
  line-height: var(--p1-paragraph-large-line-height, 150%);
  font-weight: var(--p1-paragraph-large-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.image-122 {
  flex-shrink: 0;
  width: 500px;
  height: 281.44px;
  position: relative;
  object-fit: cover;
}
.frame-266 {
  display: flex;
  flex-direction: column;
  gap: 51px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.animation-display {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  position: relative;
  align-self: stretch;
}
.frame-264 {
  display: flex;
  flex-direction: row;
  gap: 215px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-263 {
  display: flex;
  flex-direction: row;
  gap: 215px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.image-124 {
  flex-shrink: 0;
  width: 700px;
  height: 393.68px;
  position: relative;
  object-fit: cover;
}
.image-125 {
  flex-shrink: 0;
  width: 700px;
  height: 393.98px;
  position: relative;
  object-fit: cover;
}
.image-126 {
  flex-shrink: 0;
  width: 700px;
  height: 393.64px;
  position: relative;
  object-fit: cover;
}
.image-127 {
  flex-shrink: 0;
  width: 700px;
  height: 393.63px;
  position: relative;
  object-fit: cover;
}
.frame-265 {
  display: flex;
  flex-direction: column;
  gap: 38px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1296px;
  position: relative;
}
.achievement-display {
  color: #ffffff;
  text-align: center;
  font-family: var(--h2-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h2-heading-font-size, 92px);
  line-height: var(--h2-heading-line-height, 110%);
  font-weight: var(--h2-heading-font-weight, 800);
  position: relative;
  align-self: stretch;
  height: 145px;
}
.image-128 {
  flex-shrink: 0;
  width: 750px;
  height: 1333px;
  position: relative;
  object-fit: cover;
}
