.desktop-5,
.desktop-5 * {
  box-sizing: border-box;
}
.desktop-5 {
  background: #000000;
  height: 9211px;
  position: relative;
  overflow: hidden;
}
.rectangle-17 {
  background: conic-gradient(
    from 137.73deg at 50% 50%,
    rgba(0, 0, 0, 1) 6.499350816011429%,
    rgba(224, 35, 136, 1) 46.89826965332031%,
    rgba(39, 99, 183, 1) 53.4933865070343%,
    rgba(20, 52, 97, 0.53) 74.00311231613159%,
    rgba(0, 0, 0, 1) 96.79219126701355%
  );
  width: 1000px;
  height: 1100px;
  position: absolute;
  left: 1451.86px;
  top: 0px;
  transform-origin: 0 0;
  transform: rotate(45deg) scale(1, 1);
  filter: blur(96px);
}
.frame-11 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: calc(50% - 341px);
  top: 247px;
}
.frame-10 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 683px;
  position: relative;
}
.h-1-heading {
  background: var(
    --linear1,
    linear-gradient(
      180deg,
      rgba(253, 253, 253, 1) 0%,
      rgba(205, 205, 205, 1) 64.99999761581421%,
      rgba(155, 155, 155, 1) 100%
    )
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: var(--h2-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h2-heading-font-size, 92px);
  line-height: var(--h2-heading-line-height, 110%);
  font-weight: var(--h2-heading-font-weight, 800);
  position: relative;
  align-self: stretch;
}
.frame-7 {
  background: rgba(255, 255, 255, 0.03);
  border-radius: 24px;
  border-style: solid;
  border-color: rgba(233, 233, 233, 0.62);
  border-width: 1px;
  padding: 16px 88px 16px 88px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: calc(50% - 815px);
  top: 89px;
  backdrop-filter: blur(30px);
}
.frame-6 {
  display: flex;
  flex-direction: row;
  gap: 777px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1454px;
  position: relative;
}
.mars {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  position: relative;
}
.frame-5 {
  display: flex;
  flex-direction: row;
  gap: 48px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.about-us {
  color: #ffffff;
  text-align: left;
  font-family: var(--ui-label-regular-font-family, "Inter-Regular", sans-serif);
  font-size: var(--ui-label-regular-font-size, 18px);
  line-height: var(--ui-label-regular-line-height, 150%);
  font-weight: var(--ui-label-regular-font-weight, 400);
  position: relative;
}
.previous-projects {
  color: #ffffff;
  text-align: left;
  font-family: var(--ui-label-regular-font-family, "Inter-Regular", sans-serif);
  font-size: var(--ui-label-regular-font-size, 18px);
  line-height: var(--ui-label-regular-line-height, 150%);
  font-weight: var(--ui-label-regular-font-weight, 400);
  position: relative;
}
.team-members {
  color: #ffffff;
  text-align: left;
  font-family: var(--ui-label-regular-font-family, "Inter-Regular", sans-serif);
  font-size: var(--ui-label-regular-font-size, 18px);
  line-height: var(--ui-label-regular-line-height, 150%);
  font-weight: var(--ui-label-regular-font-weight, 400);
  position: relative;
}
.final-project {
  color: #ffffff;
  text-align: left;
  font-family: var(--ui-label-regular-font-family, "Inter-Regular", sans-serif);
  font-size: var(--ui-label-regular-font-size, 18px);
  line-height: var(--ui-label-regular-line-height, 150%);
  font-weight: var(--ui-label-regular-font-weight, 400);
  position: relative;
}
.group-17 {
  position: absolute;
  inset: 0;
}
.image-4 {
  width: 400px;
  height: 292.29px;
  position: absolute;
  left: 1288px;
  top: 1993px;
  object-fit: cover;
}
.image-2 {
  width: 400px;
  height: 318.43px;
  position: absolute;
  left: 1252px;
  top: 885px;
  object-fit: cover;
}
.image-1 {
  width: 359px;
  height: 353px;
  position: absolute;
  left: 1308px;
  top: 432px;
  object-fit: cover;
}
.focus-on-the-public-s-mental-health-issues {
  color: #ffffff;
  text-align: left;
  font-family: var(--h4-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h4-heading-font-size, 24px);
  line-height: var(--h4-heading-line-height, 110%);
  font-weight: var(--h4-heading-font-weight, 800);
  position: absolute;
  left: 162px;
  top: 631.15px;
  width: 1005px;
  height: 50.95px;
}
.our-sdg-theme-good-health-and-well-being {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  position: absolute;
  left: 162px;
  top: 543.67px;
  width: 886px;
  height: 42.3px;
}
.image-5 {
  width: 400px;
  height: 274px;
  position: absolute;
  left: 1285px;
  top: 2532px;
  object-fit: cover;
}
.frame-40 {
  display: flex;
  flex-direction: column;
  gap: 83px;
  align-items: flex-start;
  justify-content: flex-start;
  height: 1814.94px;
  position: absolute;
  left: 162px;
  top: 762.85px;
}
.frame-36 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.project-concept {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  position: relative;
}
.with-the-rise-of-self-media-and-the-emergence-of-rolling-media-the-spread-of-information-has-become-more-subjective-and-various-values-and-ideas-are-flooding-the-entire-network-making-it-difficult-for-everyone-to-distinguish-between-right-and-wrong-in-addition-the-current-social-situation-of-accelerated-pace-of-life-has-made-everyone-scroll-the-media-faster-and-faster-and-sometimes-they-unconsciously-acquiesce-to-online-violence-and-various-negative-thoughts-when-you-browse-this-information-you-think-you-can-control-your-own-thoughts-but-in-fact-you-can-t-escape-it-anyway-and-will-inevitably-be-affected-by-it-we-hope-everyone-can-get-out-of-this-infinite-scrolling {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
  width: 752px;
  height: 394px;
}
.final-project2 {
  color: #ffffff;
  text-align: left;
  font-family: var(--h2-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h2-heading-font-size, 92px);
  line-height: var(--h2-heading-line-height, 110%);
  font-weight: var(--h2-heading-font-weight, 800);
  position: relative;
}
.frame-37 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.interaction-effects {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  position: relative;
}
.through-touch-screen-interaction-users-stand-in-front-of-our-touch-screen-and-control-the-changes-of-screen-content-with-their-fingers-similar-to-swiping-video-comments-the-speed-at-which-information-appears-on-the-screen-accumulates-over-time-all-negative-information-will-be-accumulated-in-the-container-behind-the-device-in-the-form-of-black-balls-after-a-certain-number-of-balls-in-the-screen-container-the-balls-will-be-ejected-to-display-all-the-negative-information-the-user-has-seen-during-this-process {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
  width: 752px;
  height: 303px;
}
.frame-38 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.equipment-and-technical-implementation {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  position: relative;
}
.frame-39 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.target-population {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  position: relative;
}
.image-3 {
  width: 611px;
  height: 338px;
  position: absolute;
  left: 1146px;
  top: 1562px;
  object-fit: cover;
}
.frame-130 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 160px;
  top: 2889px;
}
.frame-129 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.material-we-use {
  color: #ffffff;
  text-align: left;
  font-family: var(--h2-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h2-heading-font-size, 92px);
  line-height: var(--h2-heading-line-height, 110%);
  font-weight: var(--h2-heading-font-weight, 800);
  position: relative;
  width: 782px;
  height: 111px;
}
.clear-plastic-pipe-and-plastic-ball {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  position: relative;
  width: 886px;
  height: 42.3px;
}
.image-6 {
  flex-shrink: 0;
  width: 1600px;
  height: 801px;
  position: relative;
  object-fit: cover;
}
.frame-126 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.plastic-is-a-widely-used-synthetic-polymer-material-with-good-plasticity-and-flowability-which-can-be-processed-and-formed-through-heating-softening-and-cooling-hardening-processes {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
  width: 1597px;
  height: 56px;
}
.material-composition {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  position: relative;
  width: 886px;
  height: 42.3px;
}
.plastics-are-mainly-composed-of-additives-such-as-synthetic-resins-fillers-plasticizers-stabilizers-and-colorants-synthetic-resin-is-the-main-component-of-plastics-and-plays-a-skeletal-role-in-plastics-additives-are-used-to-improve-the-properties-of-plastics-such-as-strength-stability-color-etc {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
  width: 1600px;
  height: 99px;
}
.characteristics {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  position: relative;
  width: 886px;
  height: 42.3px;
}
._1-plastics-have-advantages-such-as-light-weight-insulation-and-resistance-to-chemical-corrosion-2-it-has-strong-plasticity-and-can-be-made-into-products-of-various-shapes-and-sizes-therefore-its-product-variety-is-diverse-such-as-the-pipes-and-balls-used-in-the-project-are-all-made-of-plastic-3-plastic-has-good-water-resistance-oil-resistance-and-drug-resistance-but-poor-heat-resistance-and-wear-resistance-4-plastic-has-poor-thermal-and-electrical-conductivity-but-its-conductivity-can-be-improved-by-adding-conductive-fillers {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
  width: 1600px;
  height: 165px;
}
.main-types {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  position: relative;
  width: 886px;
  height: 42.3px;
}
.universal-plastics-such-as-polyethylene-pe-polypropylene-pp-polyvinyl-chloride-pvc-etc-have-a-wide-range-of-uses-and-low-prices-engineering-plastics-such-as-polyamide-pa-and-polycarbonate-pc-have-superior-performance-and-are-suitable-for-special-industrial-environments {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
  width: 1600px;
  height: 66px;
}
.environmental-effect {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  position: relative;
  width: 886px;
  height: 42.3px;
}
.because-plastic-is-non-degradable-in-the-short-term-and-toxic-to-the-natural-environment-we-need-to-handle-it-properly-after-use-and-not-dispose-of-it-casually {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
  width: 1600px;
  height: 66px;
}
.pla-material-printed-gears {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  position: relative;
  width: 1600px;
  height: 42.3px;
}
.pla-the-full-name-is-polylactic-acid-which-is-a-new-type-of-biodegradable-material-also-known-as-polylactide-it-is-a-polyester-polymer-obtained-through-polymerization-reaction-using-lactic-acid-as-the-main-raw-material {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
  width: 1600px;
  height: 66px;
}
.image-7 {
  flex-shrink: 0;
  width: 1600px;
  height: 1200px;
  position: relative;
  object-fit: cover;
}
.frame-127 {
  display: flex;
  flex-direction: column;
  gap: 61px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.material-characteristics {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  position: relative;
  width: 886px;
  height: 42.3px;
}
._1-biodegradability-pla-materials-have-good-biodegradability-and-can-be-completely-degraded-by-microorganisms-in-nature-after-use-ultimately-generating-carbon-dioxide-and-water-which-is-environmentally-friendly-2-thermal-stability-pla-materials-have-good-thermal-stability-with-a-processing-temperature-range-of-170-230-c-and-good-solvent-resistance-3-processability-pla-materials-can-be-processed-in-various-ways-such-as-extrusion-spinning-biaxial-stretching-injection-blow-molding-etc-optical-performance-pla-materials-have-good-glossiness-and-transparency-and-have-unique-advantages-compared-to-other-biodegradable-products-4-breathability-pla-film-has-good-breathability-oxygen-permeability-and-carbon-dioxide-permeability-as-well-as-the-ability-to-isolate-odors {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
  width: 1600px;
  height: 198px;
}
.application {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 40px;
  line-height: 110%;
  font-weight: 800;
  position: relative;
  width: 886px;
  height: 42.3px;
}
.medical-field-used-for-manufacturing-absorbable-sutures-bone-fixation-materials-and-implants-and-other-medical-devices-packaging-field-make-packaging-bags-foam-boxes-etc-effectively-reduce-environmental-pollution-3-d-printing-it-is-one-of-the-most-widely-used-materials-in-3-d-printing-which-is-easy-to-process-cost-effective-and-biodegradable-in-the-agricultural-field-it-is-used-to-manufacture-agricultural-film-which-can-be-degraded-into-carbon-dioxide-and-water-without-polluting-soil-and-crops-textiles-pla-textiles-have-good-softness-and-breathability-and-can-be-used-to-make-clothing-and-household-textiles-daily-necessities-used-for-manufacturing-cups-tableware-and-baby-bottles-non-toxic-harmless-and-environmentally-friendly {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
  width: 1600px;
  height: 198px;
}
.production-process {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 40px;
  line-height: 110%;
  font-weight: 800;
  position: relative;
  width: 886px;
  height: 42.3px;
}
.group-18 {
  flex-shrink: 0;
  width: 1470px;
  height: 95px;
  position: static;
}
.raw-material-preparation {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  line-height: 150%;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 827.89px;
  width: 276px;
  height: 40px;
}
.packaging-and-storage {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  line-height: 150%;
  font-weight: 400;
  position: absolute;
  left: 127px;
  top: 889.89px;
  width: 248px;
  height: 33px;
}
.polymerization-reaction {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  line-height: 150%;
  font-weight: 400;
  position: absolute;
  left: 387px;
  top: 827.89px;
  width: 276px;
  height: 40px;
}
.post-processing {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  line-height: 150%;
  font-weight: 400;
  position: absolute;
  left: 774px;
  top: 827.89px;
  width: 221px;
  height: 40px;
}
.preparation-of-finished-products {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  line-height: 150%;
  font-weight: 400;
  position: absolute;
  left: 1104px;
  top: 827.89px;
  width: 366px;
  height: 40px;
}
.arrow-10 {
  width: 85px;
  height: 0px;
  position: absolute;
  left: 276px;
  top: 847.89px;
  overflow: visible;
}
.arrow-13 {
  width: 85px;
  height: 0px;
  position: absolute;
  left: 3px;
  top: 909.89px;
  overflow: visible;
}
.arrow-11 {
  width: 85px;
  height: 0px;
  position: absolute;
  left: 651px;
  top: 847.89px;
  overflow: visible;
}
.arrow-12 {
  width: 85px;
  height: 0px;
  position: absolute;
  left: 976px;
  top: 847.89px;
  overflow: visible;
}
.image-8 {
  flex-shrink: 0;
  width: 1600px;
  height: 1200px;
  position: relative;
  object-fit: cover;
}
.frame-128 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.insufficient-pla-printing-materials {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 40px;
  line-height: 110%;
  font-weight: 800;
  position: relative;
  width: 886px;
  height: 42.3px;
}
.when-using-pla-fibers-for-3-d-printing-the-strength-of-the-product-will-vary-greatly-depending-on-the-chosen-structure-2-the-material-is-relatively-brittle-and-not-very-wear-resistant-with-limited-applicability {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
  width: 1600px;
  height: 66px;
}
