.desktop-26,
.desktop-26 * {
  box-sizing: border-box;
}
.desktop-26 {
  background: #000000;
  height: 18032px;
  position: relative;
  overflow: hidden;
}
.rectangle-17 {
  background: conic-gradient(
    from 137.73deg at 50% 50%,
    rgba(0, 0, 0, 1) 6.499350816011429%,
    rgba(224, 35, 136, 1) 46.89826965332031%,
    rgba(39, 99, 183, 1) 53.4933865070343%,
    rgba(20, 52, 97, 0.53) 74.00311231613159%,
    rgba(0, 0, 0, 1) 96.79219126701355%
  );
  width: 1000px;
  height: 1100px;
  position: absolute;
  left: 1451.86px;
  top: 0px;
  transform-origin: 0 0;
  transform: rotate(45deg) scale(1, 1);
  filter: blur(96px);
}
.frame-7 {
  background: rgba(255, 255, 255, 0.03);
  border-radius: 24px;
  border-style: solid;
  border-color: rgba(233, 233, 233, 0.62);
  border-width: 1px;
  padding: 16px 88px 16px 88px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: calc(50% - 815px);
  top: 89px;
  backdrop-filter: blur(30px);
}
.frame-6 {
  display: flex;
  flex-direction: row;
  gap: 777px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1454px;
  position: relative;
}
.mars {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  position: relative;
}
.frame-5 {
  display: flex;
  flex-direction: row;
  gap: 48px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.about-us {
  color: #ffffff;
  text-align: left;
  font-family: var(--ui-label-regular-font-family, "Inter-Regular", sans-serif);
  font-size: var(--ui-label-regular-font-size, 18px);
  line-height: var(--ui-label-regular-line-height, 150%);
  font-weight: var(--ui-label-regular-font-weight, 400);
  position: relative;
}
.previous-projects {
  color: #ffffff;
  text-align: left;
  font-family: var(--ui-label-regular-font-family, "Inter-Regular", sans-serif);
  font-size: var(--ui-label-regular-font-size, 18px);
  line-height: var(--ui-label-regular-line-height, 150%);
  font-weight: var(--ui-label-regular-font-weight, 400);
  position: relative;
}
.team-members {
  color: #ffffff;
  text-align: left;
  font-family: var(--ui-label-regular-font-family, "Inter-Regular", sans-serif);
  font-size: var(--ui-label-regular-font-size, 18px);
  line-height: var(--ui-label-regular-line-height, 150%);
  font-weight: var(--ui-label-regular-font-weight, 400);
  position: relative;
}
.final-project {
  color: #ffffff;
  text-align: left;
  font-family: var(--ui-label-regular-font-family, "Inter-Regular", sans-serif);
  font-size: var(--ui-label-regular-font-size, 18px);
  line-height: var(--ui-label-regular-line-height, 150%);
  font-weight: var(--ui-label-regular-font-weight, 400);
  position: relative;
}
.frame-96 {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
  justify-content: flex-start;
  height: 14246px;
  position: absolute;
  left: 138px;
  top: 258px;
}
.frame-95 {
  display: flex;
  flex-direction: column;
  gap: 55px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.material {
  color: #ffffff;
  text-align: left;
  font-family: var(--h2-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h2-heading-font-size, 92px);
  line-height: var(--h2-heading-line-height, 110%);
  font-weight: var(--h2-heading-font-weight, 800);
  position: relative;
  width: 1619px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.iron {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  text-decoration: underline;
  position: relative;
  width: 1607px;
  height: 47px;
}
.image-55 {
  flex-shrink: 0;
  width: 1600px;
  height: 731.55px;
  position: relative;
  object-fit: cover;
}
.frame-82 {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-63 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.basic-attributes {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  position: relative;
  width: 1600px;
  height: 50px;
}
.atomic-number-26-position-of-the-periodic-table-fourth-period-group-viii-color-luster-pure-iron-is-a-silvery-white-lustrous-metal-density-7-86-g-cm-melting-point-1539-c {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --p1-paragraph-large-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--p1-paragraph-large-font-size, 22px);
  line-height: var(--p1-paragraph-large-line-height, 150%);
  font-weight: var(--p1-paragraph-large-font-weight, 400);
  position: relative;
  width: 1600px;
  height: 168px;
}
.image-56 {
  flex-shrink: 0;
  width: 1600px;
  height: 785px;
  position: relative;
  object-fit: cover;
}
.frame-83 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.physical {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  position: relative;
  width: 1594px;
  height: 50px;
}
.electrical-conductivity-iron-has-good-electrical-conductivity-thermal-conductivity-iron-also-has-good-thermal-conductivity-ductility-iron-has-some-ductility-and-can-be-stretched-into-filaments-or-beaten-into-thin-sheets-ferromagnetism-iron-can-be-attracted-to-magnets-and-is-ferromagnetic {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --p1-paragraph-large-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--p1-paragraph-large-font-size, 22px);
  line-height: var(--p1-paragraph-large-line-height, 150%);
  font-weight: var(--p1-paragraph-large-font-weight, 400);
  position: relative;
  width: 1600px;
  height: 132px;
}
.chemical-properties {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  position: relative;
  width: 1594px;
  height: 50px;
}
.compounds-important-compounds-of-iron-include-ferric-oxide-fe-o-ferric-tetroxide-fe-o-ferric-chloride-fe-cl-and-iron-complexes {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --p1-paragraph-large-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--p1-paragraph-large-font-size, 22px);
  line-height: var(--p1-paragraph-large-line-height, 150%);
  font-weight: var(--p1-paragraph-large-font-weight, 400);
  position: relative;
  width: 1600px;
  height: 33px;
}
.presence-in-nature {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  position: relative;
  width: 1594px;
  height: 50px;
}
.main-minerals-hematite-mainly-ferric-oxide-magnetite-mainly-ferric-oxide-and-siderite-mainly-ferrous-carbonate-etc {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --p1-paragraph-large-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--p1-paragraph-large-font-size, 22px);
  line-height: var(--p1-paragraph-large-line-height, 150%);
  font-weight: var(--p1-paragraph-large-font-weight, 400);
  position: relative;
  width: 1600px;
  height: 33px;
}
.frame-84 {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.industrial-preparation {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  position: relative;
  width: 1594px;
  height: 50px;
}
.raw-materials-the-industrial-preparation-of-iron-is-usually-obtained-by-smelting-iron-ore-coke-and-limestone-in-a-blast-furnace-methods-including-blast-furnace-method-direct-reduction-method-melt-reduction-method-plasma-method-etc-classification-according-to-the-different-carbon-content-it-can-be-divided-into-pig-iron-wrought-iron-and-steel {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --p1-paragraph-large-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--p1-paragraph-large-font-size, 22px);
  line-height: var(--p1-paragraph-large-line-height, 150%);
  font-weight: var(--p1-paragraph-large-font-weight, 400);
  position: relative;
  width: 1600px;
  height: 99px;
}
.fields-of-application {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  position: relative;
  width: 1594px;
  height: 50px;
}
.lndustrial-use-used-to-manufacture-all-kinds-of-machinery-equipment-tools-and-parts-such-as-automobiles-ships-planes-trains-and-other-means-of-transportation-as-well-as-various-machine-tools-pumps-valves-pipelines-and-other-industrial-equipment-agricultural-use-used-to-make-various-agricultural-tools-and-equipment-such-as-plows-hoes-sickles-barbed-wire-etc-construction-use-it-is-used-to-manufacture-various-building-components-and-equipment-such-as-steel-bars-steel-plates-iron-pipes-etc-as-well-as-construction-machinery-and-equipment-such-as-cranes-excavators-bulldozers-etc-living-use-used-to-manufacture-various-daily-necessities-and-equipment-such-as-pots-and-pans-gas-stoves-water-heaters-radiators-etc-as-well-as-furniture-and-home-decorations-such-as-wrought-iron-doors-and-windows-wrought-iron-stairs-wrought-iron-chandeliers-etc {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --p1-paragraph-large-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--p1-paragraph-large-font-size, 22px);
  line-height: var(--p1-paragraph-large-line-height, 150%);
  font-weight: var(--p1-paragraph-large-font-weight, 400);
  position: relative;
  width: 1600px;
  height: 240px;
}
.image-58 {
  flex-shrink: 0;
  width: 1600px;
  height: 731px;
  position: relative;
  object-fit: cover;
}
.polyethylene {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  text-decoration: underline;
  position: relative;
  width: 1594px;
  height: 55px;
}
.image-59 {
  flex-shrink: 0;
  width: 1600px;
  height: 758px;
  position: relative;
  object-fit: cover;
}
.frame-85 {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.essential {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  position: relative;
  width: 1594px;
  height: 50px;
}
.chemical-formula-formed-by-polymerization-of-ethylene-monomer-the-chemical-formula-is-usually-ch-2-ch-2-n-classification-polyethylene-is-mainly-divided-into-three-categories-linear-low-density-polyethylene-lldpe-low-density-polyethylene-ldpe-and-high-density-polyethylene-hdpe {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --p1-paragraph-large-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--p1-paragraph-large-font-size, 22px);
  line-height: var(--p1-paragraph-large-line-height, 150%);
  font-weight: var(--p1-paragraph-large-font-weight, 400);
  position: relative;
  width: 1600px;
  height: 99px;
}
.appearance-polyethylene-plastics-are-usually-milky-white-odorless-odorless-non-toxic-and-waxy-particles-with-a-dull-surface-density-different-types-of-polyethylene-have-different-densities-for-example-ldpe-has-a-lower-density-of-about-0-918-g-cm-the-density-of-hdpe-is-higher-about-0-945-0-96-g-cm-3-melting-point-the-melting-point-also-varies-depending-on-the-species-the-melting-point-of-ldpe-is-low-about-105-115-c-hdpe-on-the-other-hand-has-a-higher-melting-point-about-125-137-c-other-characteristics-polyethylene-plastic-has-excellent-low-temperature-resistance-the-lowest-use-temperature-can-reach-100-70-c-good-chemical-stability-and-can-resist-the-erosion-of-most-acids-and-alkalis-not-resistant-to-acids-with-oxidizing-properties-in-addition-it-also-has-excellent-resistance-to-most-domestic-and-industrial-chemicals-insoluble-in-general-solvents-at-room-temperature-low-water-absorption-and-excellent-electrical-insulation {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --p1-paragraph-large-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--p1-paragraph-large-font-size, 22px);
  line-height: var(--p1-paragraph-large-line-height, 150%);
  font-weight: var(--p1-paragraph-large-font-weight, 400);
  position: relative;
  width: 1600px;
  height: 264px;
}
.image-60 {
  flex-shrink: 0;
  width: 1603px;
  height: 722px;
  position: relative;
  object-fit: cover;
}
.image-75 {
  flex-shrink: 0;
  width: 1600px;
  height: 772px;
  position: relative;
  object-fit: cover;
}
.frame-86 {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.packaging-industry-polyethylene-plastic-is-mainly-used-to-make-plastic-wrap-vest-plastic-bags-plastic-food-bags-etc-due-to-its-non-toxic-tasteless-and-odorless-characteristics-it-is-widely-used-in-the-field-of-food-packaging-agriculture-it-is-used-to-make-agricultural-mulch-film-to-increase-soil-temperature-maintain-soil-moisture-and-promote-crop-growth-construction-in-the-construction-sector-polyethylene-plastic-can-be-used-to-make-waterproofing-membranes-pipes-etc-others-in-addition-polyethylene-plastic-is-also-used-to-make-everyday-products-such-as-baby-bottles-pails-and-kettles-as-well-as-insulation-and-sheaths-for-wires-and-cables {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --p1-paragraph-large-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--p1-paragraph-large-font-size, 22px);
  line-height: var(--p1-paragraph-large-line-height, 150%);
  font-weight: var(--p1-paragraph-large-font-weight, 400);
  position: relative;
  width: 1600px;
  height: 205px;
}
.production-process {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  position: relative;
  width: 1594px;
  height: 50px;
}
.the-production-of-polyethylene-plastics-mainly-uses-high-pressure-and-low-pressure-methods-the-high-pressure-method-for-the-production-of-ldpe-is-the-most-technologically-mature-method-in-the-production-of-pe-resin-while-the-low-pressure-method-is-mainly-used-for-the-production-of-hdpe-and-lldpe-these-production-processes-require-specific-catalysts-and-reaction-conditions-to-ensure-product-quality-and-performance {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --p1-paragraph-large-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--p1-paragraph-large-font-size, 22px);
  line-height: var(--p1-paragraph-large-line-height, 150%);
  font-weight: var(--p1-paragraph-large-font-weight, 400);
  position: relative;
  width: 1600px;
  height: 99px;
}
.carbon-fiber-reinforced-polymer {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  text-decoration: underline;
  position: relative;
  width: 1594px;
  height: 50px;
}
.image-62 {
  flex-shrink: 0;
  width: 1600px;
  height: 704.36px;
  position: relative;
  object-fit: cover;
}
.frame-87 {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.definition {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  position: relative;
  width: 1594px;
  height: 50px;
}
.carbon-fiber-reinforced-polymer-cfrp-is-a-high-performance-composite-material-which-is-mainly-composed-of-carbon-fiber-as-a-reinforcing-material-and-resin-such-as-epoxy-resin-as-a-matrix-material {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --p1-paragraph-large-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--p1-paragraph-large-font-size, 22px);
  line-height: var(--p1-paragraph-large-line-height, 150%);
  font-weight: var(--p1-paragraph-large-font-weight, 400);
  position: relative;
  width: 1600px;
  height: 66px;
}
.characteristic {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  position: relative;
  width: 1594px;
  height: 50px;
}
.high-specific-strength-and-high-specific-modulus-the-specific-modulus-of-carbon-fiber-reinforced-resin-composites-is-5-times-higher-than-that-of-steel-and-aluminum-alloys-and-the-specific-strength-is-also-more-than-3-times-higher-than-that-of-steel-and-aluminum-alloys-this-means-it-offers-more-strength-and-stiffness-at-a-lower-weight-high-fatigue-resistance-the-fatigue-limit-of-carbon-fiber-unsaturated-polyester-resin-composites-can-reach-70-to-80-of-their-tensile-strength-while-that-of-metal-materials-is-only-40-to-50-this-makes-it-a-significant-advantage-in-applications-where-cyclic-loads-need-to-be-subjected-to-long-term-loads-strong-fracture-resistance-since-a-large-number-of-independently-existing-carbon-fibers-are-bonded-into-a-whole-by-a-ductile-matrix-when-some-of-the-fibers-break-the-load-is-redistributed-to-the-other-unbroken-fibers-preventing-sudden-failure-good-vibration-damping-performance-the-high-natural-frequency-of-carbon-fiber-reinforced-resin-composites-avoids-resonance-and-the-resulting-early-damage-during-operation {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --p1-paragraph-large-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--p1-paragraph-large-font-size, 22px);
  line-height: var(--p1-paragraph-large-line-height, 150%);
  font-weight: var(--p1-paragraph-large-font-weight, 400);
  position: relative;
  width: 1600px;
  height: 438px;
}
.aerospace-due-to-its-lightweight-and-high-strength-characteristics-cfrp-is-widely-used-in-the-aerospace-field-such-as-aircraft-fuselage-wings-tails-etc-automotive-industry-cfrp-is-used-in-automotive-manufacturing-to-reduce-body-weight-improve-fuel-efficiency-and-enhance-body-structural-strength-sports-equipment-sports-equipment-such-as-high-performance-bicycles-golf-clubs-and-tennis-rackets-are-often-manufactured-with-cfrp-to-reduce-weight-and-improve-performance {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --p1-paragraph-large-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--p1-paragraph-large-font-size, 22px);
  line-height: var(--p1-paragraph-large-line-height, 150%);
  font-weight: var(--p1-paragraph-large-font-weight, 400);
  position: relative;
  width: 1600px;
  height: 168px;
}
.image-63 {
  flex-shrink: 0;
  width: 1600px;
  height: 458.14px;
  position: relative;
  object-fit: cover;
}
.frame-88 {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.construction-fabrication {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  position: relative;
  width: 1594px;
  height: 50px;
}
.cfrp-is-composed-of-carbon-fiber-and-resin-matrix-through-lamination-injection-molding-pultrusion-and-other-processes-carbon-fibers-exist-in-the-form-of-fiber-bundles-or-fabrics-that-provide-strength-and-stiffness-to-composite-materials-the-resin-matrix-holds-the-carbon-fibers-in-place-and-transmits-the-load {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --p1-paragraph-large-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--p1-paragraph-large-font-size, 22px);
  line-height: var(--p1-paragraph-large-line-height, 150%);
  font-weight: var(--p1-paragraph-large-font-weight, 400);
  position: relative;
  width: 1600px;
  height: 99px;
}
.trends {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  position: relative;
  width: 1594px;
  height: 50px;
}
.with-the-reduction-of-carbon-fiber-production-costs-and-the-advancement-of-manufacturing-technology-the-application-of-cfrp-in-more-fields-will-be-expanded-the-research-of-new-carbon-fiber-reinforced-resin-composites-is-also-deepening-to-meet-the-needs-of-higher-performance-and-more-environmental-protection {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --p1-paragraph-large-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--p1-paragraph-large-font-size, 22px);
  line-height: var(--p1-paragraph-large-line-height, 150%);
  font-weight: var(--p1-paragraph-large-font-weight, 400);
  position: relative;
  width: 1600px;
  height: 130px;
}
.image-76 {
  flex-shrink: 0;
  width: 1600px;
  height: 791.67px;
  position: relative;
  object-fit: cover;
}
.image-101 {
  flex-shrink: 0;
  width: 1600px;
  height: 910.95px;
  position: relative;
  object-fit: cover;
}
.frame-89 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.new-materials {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  position: relative;
  width: 1594px;
  height: 50px;
}
._1-boronene-material {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  text-decoration: underline;
  position: relative;
  width: 1594px;
  height: 50px;
}
.image-65 {
  flex-shrink: 0;
  width: 1591px;
  height: 975px;
  position: relative;
  object-fit: cover;
}
.frame-90 {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.high-electrical-conductivity-boron-ink-has-excellent-electrical-conductivity-and-is-expected-to-be-used-in-high-performance-electronic-devices-high-strength-its-mechanical-strength-is-also-extremely-high-making-it-an-ideal-high-strength-material-chemical-stability-it-shows-good-chemical-stability-at-room-temperature-and-is-not-easy-to-be-oxidized-or-corroded {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --p1-paragraph-large-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--p1-paragraph-large-font-size, 22px);
  line-height: var(--p1-paragraph-large-line-height, 150%);
  font-weight: var(--p1-paragraph-large-font-weight, 400);
  position: relative;
  width: 1600px;
  height: 99px;
}
.application-prospects {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  position: relative;
  width: 1594px;
  height: 50px;
}
.energy-storage-it-can-be-used-to-develop-high-performance-batteries-and-supercapacitors-electronic-devices-used-as-conductive-channels-or-electrode-materials-in-electronic-devices-to-improve-device-performance-composite-materials-as-a-reinforcing-phase-improve-the-mechanical-properties-and-electrical-conductivity-of-composite-materials {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --p1-paragraph-large-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--p1-paragraph-large-font-size, 22px);
  line-height: var(--p1-paragraph-large-line-height, 150%);
  font-weight: var(--p1-paragraph-large-font-weight, 400);
  position: relative;
  width: 1600px;
  height: 99px;
}
._2-graphene {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  text-decoration: underline;
  position: relative;
  width: 1594px;
}
.image-67 {
  flex-shrink: 0;
  width: 1600px;
  height: 688px;
  position: relative;
  object-fit: cover;
}
.frame-91 {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.graphene-is-a-new-nanomaterial-with-the-thinnest-hardest-and-strongest-electrical-and-thermal-conductivity-discovered-so-far-and-is-known-as-black-gold-and-king-of-new-materials {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --p1-paragraph-large-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--p1-paragraph-large-font-size, 22px);
  line-height: var(--p1-paragraph-large-line-height, 150%);
  font-weight: var(--p1-paragraph-large-font-weight, 400);
  position: relative;
  width: 1600px;
  height: 66px;
}
.ultra-thin-a-single-layer-of-graphene-is-only-one-atomic-layer-thick-and-is-the-thinnest-material-known-super-strong-it-is-200-times-stronger-than-steel-and-is-one-of-the-strongest-materials-currently-known-electrical-conductivity-graphene-has-an-extremely-high-electron-mobility-which-exceeds-that-of-silicon-materials-by-dozens-of-times-making-it-an-ideal-conductive-material-thermal-conductivity-the-thermal-conductivity-of-graphene-is-also-very-good-much-higher-than-that-of-metals-such-as-copper-and-silver {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --p1-paragraph-large-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--p1-paragraph-large-font-size, 22px);
  line-height: var(--p1-paragraph-large-line-height, 150%);
  font-weight: var(--p1-paragraph-large-font-weight, 400);
  position: relative;
  width: 1600px;
  height: 177px;
}
.new-energy-field-graphene-has-huge-application-potential-in-the-lithium-battery-and-supercapacitor-market-and-the-market-size-is-expected-to-exceed-tens-of-billions-of-yuan-composite-materials-graphene-is-also-widely-used-in-plastics-rubber-coatings-conductive-inks-and-other-fields {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --p1-paragraph-large-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--p1-paragraph-large-font-size, 22px);
  line-height: var(--p1-paragraph-large-line-height, 150%);
  font-weight: var(--p1-paragraph-large-font-weight, 400);
  position: relative;
  width: 1600px;
  height: 99px;
}
.frame-92 {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.metal-post-processing-method {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  text-decoration: underline;
  position: relative;
  width: 1594px;
  height: 50px;
}
.sandblasting-this-is-a-common-post-processing-method-for-metals-it-involves-propelling-fine-particles-of-sand-or-other-abrasives-at-high-speed-onto-the-metal-surface-to-smoothen-it-remove-surface-imperfections-or-create-a-specific-texture-sandblasting-is-often-used-for-decorative-finishes-rust-removal-and-preparation-for-painting-or-coating {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --p1-paragraph-large-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--p1-paragraph-large-font-size, 22px);
  line-height: var(--p1-paragraph-large-line-height, 150%);
  font-weight: var(--p1-paragraph-large-font-weight, 400);
  position: relative;
  width: 1600px;
  height: 132px;
}
.image-69 {
  flex-shrink: 0;
  width: 1600px;
  height: 992px;
  position: relative;
  object-fit: cover;
}
.frame-93 {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 163px;
  position: relative;
}
.plastic-post-processing-method {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  text-decoration: underline;
  position: relative;
  width: 1594px;
  height: 50px;
}
.spraying-treatment-definition-the-application-of-a-layer-of-plastic-paint-to-metal-equipment-or-plastic-products-followed-by-a-drying-operation-features-isolate-air-anti-aging-and-anti-static-and-give-plastic-an-appearance-effect-that-it-does-not-have {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --p1-paragraph-large-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--p1-paragraph-large-font-size, 22px);
  line-height: var(--p1-paragraph-large-line-height, 150%);
  font-weight: var(--p1-paragraph-large-font-weight, 400);
  position: relative;
  width: 1600px;
}
.frame-135 {
  display: flex;
  flex-direction: row;
  gap: 1px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.image-70 {
  flex-shrink: 0;
  width: 982.73px;
  height: 640px;
  position: relative;
  object-fit: cover;
}
.image-74 {
  flex-shrink: 0;
  width: 614.2px;
  height: 640px;
  position: relative;
  object-fit: cover;
}
.frame-134 {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-94 {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 201px;
  position: relative;
}
.post-processing-methods-of-wood {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  text-decoration: underline;
  position: relative;
  width: 1594px;
  height: 50px;
}
.sanding-sanding-is-an-important-step-in-the-post-processing-of-wood-to-achieve-a-smooth-even-surface-it-involves-the-use-of-sanding-tools-or-machines-with-abrasive-materials-to-remove-rough-edges-bumps-or-scratches-from-the-surface-of-the-wood-grinding-can-be-done-manually-or-with-power-tools-depending-on-the-size-and-complexity-of-the-workpiece-after-sanding-the-wood-can-be-further-surface-treated-with-dyes-varnishes-or-paints {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --p1-paragraph-large-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--p1-paragraph-large-font-size, 22px);
  line-height: var(--p1-paragraph-large-line-height, 150%);
  font-weight: var(--p1-paragraph-large-font-weight, 400);
  position: relative;
  width: 1600px;
  height: 99px;
}
.q-5 {
  flex-shrink: 0;
  width: 1600px;
  height: 655px;
  position: relative;
  object-fit: cover;
}
.h-1 {
  flex-shrink: 0;
  width: 1600px;
  height: 720px;
  position: relative;
  object-fit: cover;
}
