
.e95_48 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(13.000000175088644, 12.000000234693289, 17.00000088661909, 1);
	width:1920px;
	height:3113px;
	position:absolute;
}
.e113_62 { 
	background-color:rgba(255, 255, 255, 0.029999999329447746);
	width:1701px;
	height:91px;
	position:absolute;
	left:109px;
	top:24px;
	border-top-left-radius:24px;
	border-top-right-radius:24px;
	border-bottom-left-radius:24px;
	border-bottom-right-radius:24px;
}

.e110_61 { 
	width:1525px;
	height:59px;
	position:absolute;
	left:88px;
	top:16px;
}
.e98_51 { 
	color:rgba(255, 255, 255, 1);
	width:172px;
	height:44px;
	position:absolute;
	left:0px;
	top:7.5px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
	/* H3 Heading */
font-family: Inter;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: 110%; /* 44px */
}
.e110_60 { 
	width:545px;
	height:27px;
	position:absolute;
	left:482px;
	top:16px;
}
.e100_57 { 
	color:rgba(255, 255, 255, 1);
	width:79px;
	height:27px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e106_4 { 
		color:rgba(210.00000268220901, 210.00000268220901, 210.00000268220901, 1);
		width:400px;
		height:27px;
		position:absolute;
		left:127px;
		top:0px;
		font-family:Inter;
		text-align:left;
		font-size:18px;
		letter-spacing:0;
		line-height: 150%;
}
.e106_5 { 
	color:rgba(210.00000268220901, 210.00000268220901, 210.00000268220901, 1);
	width:400px;
	height:27px;
	position:absolute;
	left:322px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;

}
.e106_6 { 
	color:rgba(210.00000268220901, 210.00000268220901, 210.00000268220901, 1);
	width:400px;
	height:27px;
	position:absolute;
	left:501px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e110_11 { 
	width:188px;
	height:59px;
	position:absolute;
	left:1337px;
	top:0px;
}
.e106_7 { 
	color:rgba(210.00000268220901, 210.00000268220901, 210.00000268220901, 1);
	width:52px;
	height:27px;
	position:absolute;
	left:0px;
	top:16px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e106_10 { 
	background-color:rgba(255, 255, 255, 0.15000000596046448);
	width:112px;
	height:59px;
	position:absolute;
	left:76px;
	top:0px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
}
.e106_8 { 
	color:rgba(255, 255, 255, 1);
	width:64px;
	height:27px;
	position:absolute;
	left:24px;
	top:16px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e123_8 { 
	transform: rotate(45deg);
	width:1000px;
	height:1100px;
	position:absolute;
	left:1436.3553466796875px;
	top:-63.462120056152344px;
}
.e123_6 { 
	width:1341px;
	height:569px;
	position:absolute;
	left:197px;
	top:216px;
}
.e120_5 { 
	width:1341px;
	height:471px;
	position:absolute;
	left:0px;
	top:0px;
}
.e115_77 { 
	background: var(--linear1, linear-gradient(180deg, #FDFDFD 0%, #CDCDCD 65%, #9B9B9B 100%));
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	width: 1218px;
	height: 360px;
	position:absolute;
/* H1 Heading */
font-family: Inter;
font-size: 120px;
font-style: normal;
font-weight: 800;
line-height: 100%; /* 120px */
}
.e117_78 { 
	color:rgba(210.00000268220901, 210.00000268220901, 210.00000268220901, 1);
	width:704px;
	height:66px;
	position:absolute;
	left:0px;
	top:405px;
	font-family:Inter;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}
.e119_3 { 
	background-color:rgba(189.82226461172104, 17.927626110613346, 71.10366180539131, 1);
	width:219px;
	height:67px;
	position:absolute;
	left:0px;
	top:502px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
}
.e119_2 { 
	color:rgba(210.00000268220901, 210.00000268220901, 210.00000268220901, 1);
	width:99px;
	height:27px;
	position:absolute;
	left:60px;
	top:20px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.color{
background: conic-gradient(from 132deg at 50% 50%, #000 23.397662937641144deg, #E02388 168.83377075195312deg, #2763B7 192.5761914253235deg, rgba(20, 52, 97, 0.53) 266.41120433807373deg, #000 348.4518885612488deg);
filter: blur(96px);
width: 1000px;
height: 1100px;
transform: rotate(45deg);
flex-shrink: 0;
top: 1000px;
left: 1000px;
opacity: 0px;
}