.desktop-8,
.desktop-8 * {
  box-sizing: border-box;
}
.desktop-8 {
  background: #000000;
  height: 985px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.william {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 180px;
  line-height: 110%;
  font-weight: 800;
  position: absolute;
  left: 558px;
  top: 268px;
}
.chi {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 180px;
  line-height: 110%;
  font-weight: 800;
  position: absolute;
  left: 727px;
  top: 466px;
}
.free {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 24px;
  line-height: 110%;
  font-weight: 800;
  position: absolute;
  left: 130px;
  top: 173px;
}
.love {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 24px;
  line-height: 110%;
  font-weight: 800;
  position: absolute;
  left: 130px;
  top: 215px;
}
.pursuing {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 24px;
  line-height: 110%;
  font-weight: 800;
  position: absolute;
  left: 129px;
  top: 255px;
}
.passion {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 24px;
  line-height: 110%;
  font-weight: 800;
  position: absolute;
  left: 130px;
  top: 297px;
}
._610414808-qq-com {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 24px;
  line-height: 110%;
  font-weight: 800;
  position: absolute;
  left: 688px;
  top: 752px;
}
.rectangle-24 {
  background: #fefefe;
  width: 21px;
  height: 4px;
  position: absolute;
  left: 93px;
  top: 185px;
}
.rectangle-25 {
  background: #ffffff;
  width: 11px;
  height: 60px;
  position: absolute;
  left: 618px;
  top: 684px;
}
.i-can-do-anything-i-want {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 24px;
  line-height: 110%;
  font-weight: 800;
  position: absolute;
  left: 688px;
  top: 684px;
}
.i-can-overcome-anything-i-want {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 24px;
  line-height: 110%;
  font-weight: 800;
  position: absolute;
  left: 688px;
  top: 718px;
}
.frame-7 {
  background: rgba(255, 255, 255, 0.03);
  border-radius: 24px;
  border-style: solid;
  border-color: rgba(233, 233, 233, 0.62);
  border-width: 1px;
  padding: 16px 88px 16px 88px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: calc(50% - 830px);
  top: 43px;
  backdrop-filter: blur(30px);
}
.frame-6 {
  display: flex;
  flex-direction: row;
  gap: 777px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1454px;
  position: relative;
}
.mars {
  color: #ffffff;
  text-align: left;
  font-family: var(--h3-heading-font-family, "Inter-ExtraBold", sans-serif);
  font-size: var(--h3-heading-font-size, 40px);
  line-height: var(--h3-heading-line-height, 110%);
  font-weight: var(--h3-heading-font-weight, 800);
  position: relative;
}
.frame-5 {
  display: flex;
  flex-direction: row;
  gap: 48px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.about-us {
  color: #ffffff;
  text-align: left;
  font-family: var(--ui-label-regular-font-family, "Inter-Regular", sans-serif);
  font-size: var(--ui-label-regular-font-size, 18px);
  line-height: var(--ui-label-regular-line-height, 150%);
  font-weight: var(--ui-label-regular-font-weight, 400);
  position: relative;
}
.previous-projects {
  color: #ffffff;
  text-align: left;
  font-family: var(--ui-label-regular-font-family, "Inter-Regular", sans-serif);
  font-size: var(--ui-label-regular-font-size, 18px);
  line-height: var(--ui-label-regular-line-height, 150%);
  font-weight: var(--ui-label-regular-font-weight, 400);
  position: relative;
}
.team-members {
  color: #ffffff;
  text-align: left;
  font-family: var(--ui-label-regular-font-family, "Inter-Regular", sans-serif);
  font-size: var(--ui-label-regular-font-size, 18px);
  line-height: var(--ui-label-regular-line-height, 150%);
  font-weight: var(--ui-label-regular-font-weight, 400);
  position: relative;
}
.more {
  color: #ffffff;
  text-align: left;
  font-family: var(--ui-label-regular-font-family, "Inter-Regular", sans-serif);
  font-size: var(--ui-label-regular-font-size, 18px);
  line-height: var(--ui-label-regular-line-height, 150%);
  font-weight: var(--ui-label-regular-font-weight, 400);
  position: relative;
}
._0-b-60-afe-9-ae-3-fb-394-ed-6-a-121954-f-4-d-5-e-3-removebg-1 {
  width: 640px;
  height: 861px;
  position: absolute;
  left: 1280px;
  top: 124px;
  object-fit: cover;
}
.rectangle-17 {
  background: conic-gradient(
    from 137.73deg at 50% 50%,
    rgba(0, 0, 0, 1) 6.499350816011429%,
    rgba(224, 35, 136, 1) 46.89826965332031%,
    rgba(39, 99, 183, 1) 53.4933865070343%,
    rgba(20, 52, 97, 0.53) 74.00311231613159%,
    rgba(0, 0, 0, 1) 96.79219126701355%
  );
  width: 508.36px;
  height: 559.19px;
  position: absolute;
  left: 175.41px;
  top: 415px;
  transform-origin: 0 0;
  transform: rotate(45deg) scale(1, 1);
  filter: blur(96px);
}
.vector-1 {
  width: 163px;
  height: 135px;
  position: absolute;
  left: 1757px;
  top: 124px;
  overflow: visible;
}
