.desktop {
  background-color: #0d0c11;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.desktop .overlap-group-wrapper {
  background-color: var(--x-0d-0c-11);
  overflow: hidden;
  width: 1920px;
  height: 3113px;
}

.desktop .overlap-group {
  position: relative;
  width: 1998px;
  height: 1485px;
  top: -63px;
  left: 145px;
}

.desktop .rectangle {
  position: absolute;
  width: 1000px;
  height: 1100px;
  top: 192px;
  left: 756px;
  transform: rotate(45deg);
  filter: blur(192px);
  background: conic-gradient(
    from 180deg at 50% 50%,
    rgb(0, 0, 0) 23.4deg,
    rgb(224, 35, 136) 168.83deg,
    rgb(38.73, 99.17, 183.46) 192.58deg,
    rgba(20.38, 52.19, 96.56, 0.53) 266.41deg,
    rgb(0, 0, 0) 348.45deg
  );
}

.desktop .frame {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 283px;
  left: 0;
}

.desktop .heading-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 31px;
  position: relative;
  flex: 0 0 auto;
}

.desktop .heading {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--h1-heading-font-family);
  font-weight: var(--h1-heading-font-weight);
  color: #ffffff;
  font-size: var(--h1-heading-font-size);
  letter-spacing: var(--h1-heading-letter-spacing);
  line-height: var(--h1-heading-line-height);
  white-space: nowrap;
  font-style: var(--h1-heading-font-style);
}

.desktop .div {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  position: relative;
  flex: 0 0 auto;
}

.desktop .frame-2 {
  display: flex;
  flex-direction: column;
  width: 1221px;
  align-items: flex-start;
  gap: 40px;
  position: relative;
  flex: 0 0 auto;
}

.desktop .h-heading {
  align-self: stretch;
  font-size: var(--h1-heading-font-size);
  line-height: var(--h1-heading-line-height);
  position: relative;
  margin-top: -1px;
  background: linear-gradient(180deg, rgb(253, 253, 253) 0%, rgb(204.98, 204.98, 204.98) 65%, rgb(155, 155, 155) 100%);
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: var(--h1-heading-font-family);
  font-weight: var(--h1-heading-font-weight);
  color: transparent;
  letter-spacing: var(--h1-heading-letter-spacing);
  font-style: var(--h1-heading-font-style);
}

.desktop .paragraph-text {
  position: relative;
  align-self: stretch;
  font-family: var(--p1-paragraph-large-font-family);
  font-weight: var(--p1-paragraph-large-font-weight);
  color: var(--afafaf);
  font-size: var(--p1-paragraph-large-font-size);
  letter-spacing: var(--p1-paragraph-large-letter-spacing);
  line-height: var(--p1-paragraph-large-line-height);
  font-style: var(--p1-paragraph-large-font-style);
}

.desktop .primary-button {
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  padding: 22px 60px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--be-1247);
  border-radius: 31px;
}

.desktop .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--UI-label-semibold-font-family);
  font-weight: var(--UI-label-semibold-font-weight);
  color: var(--d-2d-2d-2);
  font-size: var(--UI-label-semibold-font-size);
  letter-spacing: var(--UI-label-semibold-letter-spacing);
  line-height: var(--UI-label-semibold-line-height);
  white-space: nowrap;
  font-style: var(--UI-label-semibold-font-style);
}

.desktop .frame-3 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  position: absolute;
  top: 1071px;
  left: 356px;
}

.desktop .heading-2 {
  width: 614px;
  font-size: var(--h2-heading-font-size);
  text-align: center;
  line-height: var(--h2-heading-line-height);
  position: relative;
  margin-top: -1px;
  background: linear-gradient(180deg, rgb(253, 253, 253) 0%, rgb(204.98, 204.98, 204.98) 65%, rgb(155, 155, 155) 100%);
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: var(--h2-heading-font-family);
  font-weight: var(--h2-heading-font-weight);
  color: transparent;
  letter-spacing: var(--h2-heading-letter-spacing);
  font-style: var(--h2-heading-font-style);
}

.desktop .p {
  position: relative;
  width: 918px;
  font-family: var(--p2-paragraph-medium-font-family);
  font-weight: var(--p2-paragraph-medium-font-weight);
  color: var(--afafaf);
  font-size: var(--p2-paragraph-medium-font-size);
  text-align: center;
  letter-spacing: var(--p2-paragraph-medium-letter-spacing);
  line-height: var(--p2-paragraph-medium-line-height);
  font-style: var(--p2-paragraph-medium-font-style);
}

.desktop .frame-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 16px 88px;
  position: absolute;
  top: 152px;
  left: 0;
  background-color: #ffffff08;
  border-radius: 24px;
  border: 1px solid;
  border-color: #525252;
  backdrop-filter: blur(60px) brightness(100%);
  -webkit-backdrop-filter: blur(60px) brightness(100%);
}

.desktop .frame-4 {
  display: flex;
  width: 1454px;
  align-items: center;
  gap: 310px;
  position: relative;
  flex: 0 0 auto;
}

.desktop .text-wrapper-2 {
  position: relative;
  width: fit-content;
  font-family: var(--h3-heading-font-family);
  font-weight: var(--h3-heading-font-weight);
  color: #ffffff;
  font-size: var(--h3-heading-font-size);
  letter-spacing: var(--h3-heading-letter-spacing);
  line-height: var(--h3-heading-line-height);
  white-space: nowrap;
  font-style: var(--h3-heading-font-style);
}

.desktop .navbar {
  display: inline-flex;
  align-items: flex-start;
  gap: 48px;
  position: relative;
  flex: 0 0 auto;
}

.desktop .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--UI-label-regular-font-family);
  font-weight: var(--UI-label-regular-font-weight);
  color: var(--d-2d-2d-2);
  font-size: var(--UI-label-regular-font-size);
  letter-spacing: var(--UI-label-regular-letter-spacing);
  line-height: var(--UI-label-regular-line-height);
  white-space: nowrap;
  font-style: var(--UI-label-regular-font-style);
}

.desktop .frame-5 {
  display: inline-flex;
  align-items: center;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.desktop .text-wrapper-4 {
  position: relative;
  width: fit-content;
  font-family: var(--UI-label-regular-font-family);
  font-weight: var(--UI-label-regular-font-weight);
  color: var(--d-2d-2d-2);
  font-size: var(--UI-label-regular-font-size);
  letter-spacing: var(--UI-label-regular-letter-spacing);
  line-height: var(--UI-label-regular-line-height);
  white-space: nowrap;
  font-style: var(--UI-label-regular-font-style);
}

.desktop .div-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 16px 24px;
  position: relative;
  flex: 0 0 auto;
  background-color: #ffffff26;
  border-radius: 16px;
}

.desktop .text-wrapper-5 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--UI-label-semibold-font-family);
  font-weight: var(--UI-label-semibold-font-weight);
  color: #ffffff;
  font-size: var(--UI-label-semibold-font-size);
  letter-spacing: var(--UI-label-semibold-letter-spacing);
  line-height: var(--UI-label-semibold-line-height);
  white-space: nowrap;
  font-style: var(--UI-label-semibold-font-style);
}
.desktop .rectangle-2 {
  position: absolute;
  width: 2026px;
  height: 275px;
  top: 1922px;
  left: -97px;
  transform: rotate(0.19deg);
  filter: blur(192px);
  background: conic-gradient(
    from 180deg at 50% 50%,
    rgb(0, 0, 0,0.5) 23.4deg,
    rgb(224, 35, 136,0.5) 168.83deg,
    rgb(38.73, 99.17, 183.46,0.5) 192.58deg,
    rgba(20.38, 52.19, 96.56, 0.) 266.41deg,
    rgb(0, 0, 0,0.5) 348.45deg
  );
}